Schemas/SpringerBook.dtd


<!--
DTD generated from ODD source 2018-12-06T20:07:55Z. .CC-BY
TEI Edition: Version 3.4.0. Last updated on
	23rd July 2018, revision 1fa0b54
TEI Edition Location: http://www.tei-c.org/Vault/P5/Version 3.4.0/

-->

<!-- start datatypes -->

<!ENTITY % teidata.certainty '(high|medium|low|unknown)' >

<!ENTITY % teidata.probability ' CDATA ' >

<!ENTITY % teidata.numeric ' CDATA ' >

<!ENTITY % teidata.count ' CDATA ' >

<!ENTITY % teidata.temporal.w3c ' CDATA ' >

<!ENTITY % teidata.duration.iso ' CDATA ' >

<!ENTITY % teidata.duration.w3c ' CDATA ' >

<!ENTITY % teidata.truthValue ' CDATA ' >

<!ENTITY % teidata.xTruthValue ' CDATA ' >

<!ENTITY % teidata.language ' CDATA ' >

<!ENTITY % teidata.outputMeasurement ' CDATA ' >

<!ENTITY % teidata.pointer ' CDATA ' >

<!ENTITY % teidata.versionNumber ' CDATA ' >

<!ENTITY % teidata.xpath ' CDATA' >

<!ENTITY % teidata.word ' CDATA ' >

<!ENTITY % teidata.text ' CDATA ' >

<!ENTITY % teidata.name ' CDATA ' >

<!ENTITY % teidata.enumerated '%teidata.word;' >

<!ENTITY % teidata.probCert ' CDATA ' >

<!-- end datatypes -->

<!-- predeclared classes -->

<!ENTITY % model.placeNamePart ""> 
<!ENTITY % model.placeNamePart_sequence ""> 
<!ENTITY % model.placeNamePart_sequenceOptional ""> 
<!ENTITY % model.placeNamePart_sequenceOptionalRepeatable ""> 
<!ENTITY % model.placeNamePart_sequenceRepeatable ""> 
<!ENTITY % model.placeStateLike ""> 
<!ENTITY % model.placeStateLike_sequence ""> 
<!ENTITY % model.placeStateLike_sequenceOptional ""> 
<!ENTITY % model.placeStateLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.placeStateLike_sequenceRepeatable ""> 
<!ENTITY % model.ConferenceInfoPart "ConfSeriesName |ConfSeriesID |ConfEventID |ConfEventAbbreviation |ConfNumber |ConfEventLocation |ConfEventURL |ConfEventDateStart |ConfEventDateEnd"> 
<!ENTITY % model.ConferenceInfoPart_sequence "ConfSeriesName, ConfSeriesID, ConfEventID, ConfEventAbbreviation, ConfNumber, ConfEventLocation, ConfEventURL, ConfEventDateStart, ConfEventDateEnd"> 
<!ENTITY % model.ConferenceInfoPart_sequenceOptional "ConfSeriesName?, ConfSeriesID?, ConfEventID?, ConfEventAbbreviation?, ConfNumber?, ConfEventLocation?, ConfEventURL?, ConfEventDateStart?, ConfEventDateEnd?"> 
<!ENTITY % model.ConferenceInfoPart_sequenceOptionalRepeatable "ConfSeriesName*, ConfSeriesID*, ConfEventID*, ConfEventAbbreviation*, ConfNumber*, ConfEventLocation*, ConfEventURL*, ConfEventDateStart*, ConfEventDateEnd*"> 
<!ENTITY % model.ConferenceInfoPart_sequenceRepeatable "ConfSeriesName+, ConfSeriesID+, ConfEventID+, ConfEventAbbreviation+, ConfNumber+, ConfEventLocation+, ConfEventURL+, ConfEventDateStart+, ConfEventDateEnd+"> 
<!ENTITY % model.ContactPart "Phone |Fax |Email |URL |Street |Postbox |Postcode |City |State |Country"> 
<!ENTITY % model.ContactPart_sequence "Phone, Fax, Email, URL, Street, Postbox, Postcode, City, State, Country"> 
<!ENTITY % model.ContactPart_sequenceOptional "Phone?, Fax?, Email?, URL?, Street?, Postbox?, Postcode?, City?, State?, Country?"> 
<!ENTITY % model.ContactPart_sequenceOptionalRepeatable "Phone*, Fax*, Email*, URL*, Street*, Postbox*, Postcode*, City*, State*, Country*"> 
<!ENTITY % model.ContactPart_sequenceRepeatable "Phone+, Fax+, Email+, URL+, Street+, Postbox+, Postcode+, City+, State+, Country+"> 
<!ENTITY % model.DatePart "Year |Month |Day"> 
<!ENTITY % model.DatePart_sequence "Year, Month, Day"> 
<!ENTITY % model.DatePart_sequenceOptional "Year?, Month?, Day?"> 
<!ENTITY % model.DatePart_sequenceOptionalRepeatable "Year*, Month*, Day*"> 
<!ENTITY % model.DatePart_sequenceRepeatable "Year+, Month+, Day+"> 
<!ENTITY % model.PartInfoPart "PartID |PartNumber |PartSequenceNumber |PartTitle |PartSubTitle |PartChapterCount |PartContext"> 
<!ENTITY % model.PartInfoPart_sequence "PartID, PartNumber, PartSequenceNumber, PartTitle, PartSubTitle, PartChapterCount, PartContext"> 
<!ENTITY % model.PartInfoPart_sequenceOptional "PartID?, PartNumber?, PartSequenceNumber?, PartTitle?, PartSubTitle?, PartChapterCount?, PartContext?"> 
<!ENTITY % model.PartInfoPart_sequenceOptionalRepeatable "PartID*, PartNumber*, PartSequenceNumber*, PartTitle*, PartSubTitle*, PartChapterCount*, PartContext*"> 
<!ENTITY % model.PartInfoPart_sequenceRepeatable "PartID+, PartNumber+, PartSequenceNumber+, PartTitle+, PartSubTitle+, PartChapterCount+, PartContext+"> 
<!ENTITY % model.NamePart "GivenName |NoGivenName |Initials |NoInitials |Particle |FamilyName |Suffix |Prefix |Degrees |NativeName"> 
<!ENTITY % model.NamePart_sequence "GivenName, NoGivenName, Initials, NoInitials, Particle, FamilyName, Suffix, Prefix, Degrees, NativeName"> 
<!ENTITY % model.NamePart_sequenceOptional "GivenName?, NoGivenName?, Initials?, NoInitials?, Particle?, FamilyName?, Suffix?, Prefix?, Degrees?, NativeName?"> 
<!ENTITY % model.NamePart_sequenceOptionalRepeatable "GivenName*, NoGivenName*, Initials*, NoInitials*, Particle*, FamilyName*, Suffix*, Prefix*, Degrees*, NativeName*"> 
<!ENTITY % model.NamePart_sequenceRepeatable "GivenName+, NoGivenName+, Initials+, NoInitials+, Particle+, FamilyName+, Suffix+, Prefix+, Degrees+, NativeName+"> 
<!ENTITY % model.referenceElements "ExternalRef |InternalRef |CitationRef"> 
<!ENTITY % model.referenceElements_sequence "ExternalRef, InternalRef, CitationRef"> 
<!ENTITY % model.referenceElements_sequenceOptional "ExternalRef?, InternalRef?, CitationRef?"> 
<!ENTITY % model.referenceElements_sequenceOptionalRepeatable "ExternalRef*, InternalRef*, CitationRef*"> 
<!ENTITY % model.referenceElements_sequenceRepeatable "ExternalRef+, InternalRef+, CitationRef+"> 
<!ENTITY % model.verySimpleText "Superscript |Subscript |Stack |Emphasis"> 
<!ENTITY % model.verySimpleText_sequence "Superscript, Subscript, Stack, Emphasis"> 
<!ENTITY % model.verySimpleText_sequenceOptional "Superscript?, Subscript?, Stack?, Emphasis?"> 
<!ENTITY % model.verySimpleText_sequenceOptionalRepeatable "Superscript*, Subscript*, Stack*, Emphasis*"> 
<!ENTITY % model.verySimpleText_sequenceRepeatable "Superscript+, Subscript+, Stack+, Emphasis+"> 
<!ENTITY % model.simpleText "InlineEquation |%model.verySimpleText; |Literal |Footnote |Sidebar |InlineMediaObject"> 
<!ENTITY % model.simpleText_sequence "InlineEquation, %model.verySimpleText;, Literal, Footnote, Sidebar, InlineMediaObject"> 
<!ENTITY % model.simpleText_sequenceOptional "InlineEquation?, %model.verySimpleText;?, Literal?, Footnote?, Sidebar?, InlineMediaObject?"> 
<!ENTITY % model.simpleText_sequenceOptionalRepeatable "InlineEquation*, %model.verySimpleText;*, Literal*, Footnote*, Sidebar*, InlineMediaObject*"> 
<!ENTITY % model.simpleText_sequenceRepeatable "InlineEquation+, %model.verySimpleText;+, Literal+, Footnote+, Sidebar+, InlineMediaObject+"> 
<!ENTITY % model.MathML "math"> 
<!ENTITY % model.MathML_sequence "math"> 
<!ENTITY % model.MathML_sequenceOptional "math?"> 
<!ENTITY % model.MathML_sequenceOptionalRepeatable "math*"> 
<!ENTITY % model.MathML_sequenceRepeatable "math+"> 
<!ENTITY % model.ListElements "OrderedList |UnorderedList |DefinitionList"> 
<!ENTITY % model.ListElements_sequence "OrderedList, UnorderedList, DefinitionList"> 
<!ENTITY % model.ListElements_sequenceOptional "OrderedList?, UnorderedList?, DefinitionList?"> 
<!ENTITY % model.ListElements_sequenceOptionalRepeatable "OrderedList*, UnorderedList*, DefinitionList*"> 
<!ENTITY % model.ListElements_sequenceRepeatable "OrderedList+, UnorderedList+, DefinitionList+"> 
<!ENTITY % model.fullText "Table |Equation |%model.referenceElements; |BlockQuote |%model.simpleText; |%model.ListElements; |Figure |MediaObject"> 
<!ENTITY % model.fullText_sequence "Table, Equation, %model.referenceElements;, BlockQuote, %model.simpleText;, %model.ListElements;, Figure, MediaObject"> 
<!ENTITY % model.fullText_sequenceOptional "Table?, Equation?, %model.referenceElements;?, BlockQuote?, %model.simpleText;?, %model.ListElements;?, Figure?, MediaObject?"> 
<!ENTITY % model.fullText_sequenceOptionalRepeatable "Table*, Equation*, %model.referenceElements;*, BlockQuote*, %model.simpleText;*, %model.ListElements;*, Figure*, MediaObject*"> 
<!ENTITY % model.fullText_sequenceRepeatable "Table+, Equation+, %model.referenceElements;+, BlockQuote+, %model.simpleText;+, %model.ListElements;+, Figure+, MediaObject+"> 
<!ENTITY % model.fullTextBlock "Para |FormalPara |Table |Figure |MediaObject"> 
<!ENTITY % model.fullTextBlock_sequence "Para, FormalPara, Table, Figure, MediaObject"> 
<!ENTITY % model.fullTextBlock_sequenceOptional "Para?, FormalPara?, Table?, Figure?, MediaObject?"> 
<!ENTITY % model.fullTextBlock_sequenceOptionalRepeatable "Para*, FormalPara*, Table*, Figure*, MediaObject*"> 
<!ENTITY % model.fullTextBlock_sequenceRepeatable "Para+, FormalPara+, Table+, Figure+, MediaObject+"> 
<!ENTITY % model.TokenExpression "mi |mo |mspace |mn |mtext"> 
<!ENTITY % model.TokenExpression_sequence "mi, mo, mspace, mn, mtext"> 
<!ENTITY % model.TokenExpression_sequenceOptional "mi?, mo?, mspace?, mn?, mtext?"> 
<!ENTITY % model.TokenExpression_sequenceOptionalRepeatable "mi*, mo*, mspace*, mn*, mtext*"> 
<!ENTITY % model.TokenExpression_sequenceRepeatable "mi+, mo+, mspace+, mn+, mtext+"> 
<!ENTITY % model.PresentationExpression "mrow |mroot |msub |menclose |mtable |msup |msubsup |mfrac |mstyle |msqrt |mpadded |munder |mover |munderover |mfenced |%model.TokenExpression;"> 
<!ENTITY % model.PresentationExpression_sequence "mrow, mroot, msub, menclose, mtable, msup, msubsup, mfrac, mstyle, msqrt, mpadded, munder, mover, munderover, mfenced, %model.TokenExpression;"> 
<!ENTITY % model.PresentationExpression_sequenceOptional "mrow?, mroot?, msub?, menclose?, mtable?, msup?, msubsup?, mfrac?, mstyle?, msqrt?, mpadded?, munder?, mover?, munderover?, mfenced?, %model.TokenExpression;?"> 
<!ENTITY % model.PresentationExpression_sequenceOptionalRepeatable "mrow*, mroot*, msub*, menclose*, mtable*, msup*, msubsup*, mfrac*, mstyle*, msqrt*, mpadded*, munder*, mover*, munderover*, mfenced*, %model.TokenExpression;*"> 
<!ENTITY % model.PresentationExpression_sequenceRepeatable "mrow+, mroot+, msub+, menclose+, mtable+, msup+, msubsup+, mfrac+, mstyle+, msqrt+, mpadded+, munder+, mover+, munderover+, mfenced+, %model.TokenExpression;+"> 
<!-- end of predeclared classes -->

<!ENTITY % model.nameLike.agent ""> 
<!ENTITY % model.nameLike.agent_sequence ""> 
<!ENTITY % model.nameLike.agent_sequenceOptional ""> 
<!ENTITY % model.nameLike.agent_sequenceOptionalRepeatable ""> 
<!ENTITY % model.nameLike.agent_sequenceRepeatable ""> 
<!ENTITY % model.segLike ""> 
<!ENTITY % model.segLike_sequence ""> 
<!ENTITY % model.segLike_sequenceOptional ""> 
<!ENTITY % model.segLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.segLike_sequenceRepeatable ""> 
<!ENTITY % model.hiLike ""> 
<!ENTITY % model.hiLike_sequence ""> 
<!ENTITY % model.hiLike_sequenceOptional ""> 
<!ENTITY % model.hiLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.hiLike_sequenceRepeatable ""> 
<!ENTITY % model.emphLike ""> 
<!ENTITY % model.emphLike_sequence ""> 
<!ENTITY % model.emphLike_sequenceOptional ""> 
<!ENTITY % model.emphLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.emphLike_sequenceRepeatable ""> 
<!ENTITY % model.highlighted ""> 
<!ENTITY % model.highlighted_sequence ""> 
<!ENTITY % model.highlighted_sequenceOptional ""> 
<!ENTITY % model.highlighted_sequenceOptionalRepeatable ""> 
<!ENTITY % model.highlighted_sequenceRepeatable ""> 
<!ENTITY % model.dateLike ""> 
<!ENTITY % model.dateLike_sequence ""> 
<!ENTITY % model.dateLike_sequenceOptional ""> 
<!ENTITY % model.dateLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.dateLike_sequenceRepeatable ""> 
<!ENTITY % model.measureLike ""> 
<!ENTITY % model.measureLike_sequence ""> 
<!ENTITY % model.measureLike_sequenceOptional ""> 
<!ENTITY % model.measureLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.measureLike_sequenceRepeatable ""> 
<!ENTITY % model.egLike ""> 
<!ENTITY % model.egLike_sequence ""> 
<!ENTITY % model.egLike_sequenceOptional ""> 
<!ENTITY % model.egLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.egLike_sequenceRepeatable ""> 
<!ENTITY % model.graphicLike ""> 
<!ENTITY % model.graphicLike_sequence ""> 
<!ENTITY % model.graphicLike_sequenceOptional ""> 
<!ENTITY % model.graphicLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.graphicLike_sequenceRepeatable ""> 
<!ENTITY % model.offsetLike ""> 
<!ENTITY % model.offsetLike_sequence ""> 
<!ENTITY % model.offsetLike_sequenceOptional ""> 
<!ENTITY % model.offsetLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.offsetLike_sequenceRepeatable ""> 
<!ENTITY % model.pPart.msdesc ""> 
<!ENTITY % model.pPart.msdesc_sequence ""> 
<!ENTITY % model.pPart.msdesc_sequenceOptional ""> 
<!ENTITY % model.pPart.msdesc_sequenceOptionalRepeatable ""> 
<!ENTITY % model.pPart.msdesc_sequenceRepeatable ""> 
<!ENTITY % model.pPart.editorial ""> 
<!ENTITY % model.pPart.editorial_sequence ""> 
<!ENTITY % model.pPart.editorial_sequenceOptional ""> 
<!ENTITY % model.pPart.editorial_sequenceOptionalRepeatable ""> 
<!ENTITY % model.pPart.editorial_sequenceRepeatable ""> 
<!ENTITY % model.pPart.transcriptional ""> 
<!ENTITY % model.pPart.transcriptional_sequence ""> 
<!ENTITY % model.pPart.transcriptional_sequenceOptional ""> 
<!ENTITY % model.pPart.transcriptional_sequenceOptionalRepeatable ""> 
<!ENTITY % model.pPart.transcriptional_sequenceRepeatable ""> 
<!ENTITY % model.pPart.edit ""> 
<!ENTITY % model.pPart.edit_sequence ""> 
<!ENTITY % model.pPart.edit_sequenceOptional ""> 
<!ENTITY % model.pPart.edit_sequenceOptionalRepeatable ""> 
<!ENTITY % model.pPart.edit_sequenceRepeatable ""> 
<!ENTITY % model.ptrLike ""> 
<!ENTITY % model.ptrLike_sequence ""> 
<!ENTITY % model.ptrLike_sequenceOptional ""> 
<!ENTITY % model.ptrLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.ptrLike_sequenceRepeatable ""> 
<!ENTITY % model.lPart ""> 
<!ENTITY % model.lPart_sequence ""> 
<!ENTITY % model.lPart_sequenceOptional ""> 
<!ENTITY % model.lPart_sequenceOptionalRepeatable ""> 
<!ENTITY % model.lPart_sequenceRepeatable ""> 
<!ENTITY % model.global.meta ""> 
<!ENTITY % model.global.meta_sequence ""> 
<!ENTITY % model.global.meta_sequenceOptional ""> 
<!ENTITY % model.global.meta_sequenceOptionalRepeatable ""> 
<!ENTITY % model.global.meta_sequenceRepeatable ""> 
<!ENTITY % model.milestoneLike ""> 
<!ENTITY % model.milestoneLike_sequence ""> 
<!ENTITY % model.milestoneLike_sequenceOptional ""> 
<!ENTITY % model.milestoneLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.milestoneLike_sequenceRepeatable ""> 
<!ENTITY % model.gLike ""> 
<!ENTITY % model.gLike_sequence ""> 
<!ENTITY % model.gLike_sequenceOptional ""> 
<!ENTITY % model.gLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.gLike_sequenceRepeatable ""> 
<!ENTITY % model.oddDecl ""> 
<!ENTITY % model.oddDecl_sequence ""> 
<!ENTITY % model.oddDecl_sequenceOptional ""> 
<!ENTITY % model.oddDecl_sequenceOptionalRepeatable ""> 
<!ENTITY % model.oddDecl_sequenceRepeatable ""> 
<!ENTITY % model.phrase.xml ""> 
<!ENTITY % model.phrase.xml_sequence ""> 
<!ENTITY % model.phrase.xml_sequenceOptional ""> 
<!ENTITY % model.phrase.xml_sequenceOptionalRepeatable ""> 
<!ENTITY % model.phrase.xml_sequenceRepeatable ""> 
<!ENTITY % model.specDescLike ""> 
<!ENTITY % model.specDescLike_sequence ""> 
<!ENTITY % model.specDescLike_sequenceOptional ""> 
<!ENTITY % model.specDescLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.specDescLike_sequenceRepeatable ""> 
<!ENTITY % model.biblLike ""> 
<!ENTITY % model.biblLike_sequence ""> 
<!ENTITY % model.biblLike_sequenceOptional ""> 
<!ENTITY % model.biblLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.biblLike_sequenceRepeatable ""> 
<!ENTITY % model.labelLike ""> 
<!ENTITY % model.labelLike_sequence ""> 
<!ENTITY % model.labelLike_sequenceOptional ""> 
<!ENTITY % model.labelLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.labelLike_sequenceRepeatable ""> 
<!ENTITY % model.listLike ""> 
<!ENTITY % model.listLike_sequence ""> 
<!ENTITY % model.listLike_sequenceOptional ""> 
<!ENTITY % model.listLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.listLike_sequenceRepeatable ""> 
<!ENTITY % model.noteLike ""> 
<!ENTITY % model.noteLike_sequence ""> 
<!ENTITY % model.noteLike_sequenceOptional ""> 
<!ENTITY % model.noteLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.noteLike_sequenceRepeatable ""> 
<!ENTITY % model.lLike ""> 
<!ENTITY % model.lLike_sequence ""> 
<!ENTITY % model.lLike_sequenceOptional ""> 
<!ENTITY % model.lLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.lLike_sequenceRepeatable ""> 
<!ENTITY % model.pLike ""> 
<!ENTITY % model.pLike_sequence ""> 
<!ENTITY % model.pLike_sequenceOptional ""> 
<!ENTITY % model.pLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.pLike_sequenceRepeatable ""> 
<!ENTITY % model.stageLike ""> 
<!ENTITY % model.stageLike_sequence ""> 
<!ENTITY % model.stageLike_sequenceOptional ""> 
<!ENTITY % model.stageLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.stageLike_sequenceRepeatable ""> 
<!ENTITY % model.global.edit ""> 
<!ENTITY % model.global.edit_sequence ""> 
<!ENTITY % model.global.edit_sequenceOptional ""> 
<!ENTITY % model.global.edit_sequenceOptionalRepeatable ""> 
<!ENTITY % model.global.edit_sequenceRepeatable ""> 
<!ENTITY % model.divPart ""> 
<!ENTITY % model.divPart_sequence ""> 
<!ENTITY % model.divPart_sequenceOptional ""> 
<!ENTITY % model.divPart_sequenceOptionalRepeatable ""> 
<!ENTITY % model.divPart_sequenceRepeatable ""> 
<!ENTITY % model.placeNamePart ""> 
<!ENTITY % model.placeNamePart_sequence ""> 
<!ENTITY % model.placeNamePart_sequenceOptional ""> 
<!ENTITY % model.placeNamePart_sequenceOptionalRepeatable ""> 
<!ENTITY % model.placeNamePart_sequenceRepeatable ""> 
<!ENTITY % model.placeStateLike ""> 
<!ENTITY % model.placeStateLike_sequence ""> 
<!ENTITY % model.placeStateLike_sequenceOptional ""> 
<!ENTITY % model.placeStateLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.placeStateLike_sequenceRepeatable ""> 
<!ENTITY % model.quoteLike ""> 
<!ENTITY % model.quoteLike_sequence ""> 
<!ENTITY % model.quoteLike_sequenceOptional ""> 
<!ENTITY % model.quoteLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.quoteLike_sequenceRepeatable ""> 
<!ENTITY % model.qLike ""> 
<!ENTITY % model.qLike_sequence ""> 
<!ENTITY % model.qLike_sequenceOptional ""> 
<!ENTITY % model.qLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.qLike_sequenceRepeatable ""> 
<!ENTITY % model.addressLike ""> 
<!ENTITY % model.addressLike_sequence ""> 
<!ENTITY % model.addressLike_sequenceOptional ""> 
<!ENTITY % model.addressLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.addressLike_sequenceRepeatable ""> 
<!ENTITY % model.nameLike ""> 
<!ENTITY % model.nameLike_sequence ""> 
<!ENTITY % model.nameLike_sequenceOptional ""> 
<!ENTITY % model.nameLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.nameLike_sequenceRepeatable ""> 
<!ENTITY % model.global ""> 
<!ENTITY % model.global_sequence ""> 
<!ENTITY % model.global_sequenceOptional ""> 
<!ENTITY % model.global_sequenceOptionalRepeatable ""> 
<!ENTITY % model.global_sequenceRepeatable ""> 
<!ENTITY % model.pPart.data ""> 
<!ENTITY % model.pPart.data_sequence ""> 
<!ENTITY % model.pPart.data_sequenceOptional ""> 
<!ENTITY % model.pPart.data_sequenceOptionalRepeatable ""> 
<!ENTITY % model.pPart.data_sequenceRepeatable ""> 
<!ENTITY % model.inter ""> 
<!ENTITY % model.inter_sequence ""> 
<!ENTITY % model.inter_sequenceOptional ""> 
<!ENTITY % model.inter_sequenceOptionalRepeatable ""> 
<!ENTITY % model.inter_sequenceRepeatable ""> 
<!ENTITY % model.phrase ""> 
<!ENTITY % model.phrase_sequence ""> 
<!ENTITY % model.phrase_sequenceOptional ""> 
<!ENTITY % model.phrase_sequenceOptionalRepeatable ""> 
<!ENTITY % model.phrase_sequenceRepeatable ""> 
<!ENTITY % model.limitedPhrase ""> 
<!ENTITY % model.limitedPhrase_sequence ""> 
<!ENTITY % model.limitedPhrase_sequenceOptional ""> 
<!ENTITY % model.limitedPhrase_sequenceOptionalRepeatable ""> 
<!ENTITY % model.limitedPhrase_sequenceRepeatable ""> 
<!ENTITY % att.TableQualifiers.attribute.colnum '
colnum CDATA #IMPLIED'>

<!ENTITY % att.TableQualifiers.attribute.colname '
colname CDATA #IMPLIED'>

<!ENTITY % att.TableQualifiers.attribute.align '
align CDATA #IMPLIED'>

<!ENTITY % att.TableQualifiers.attribute.colwidth '
colwidth CDATA #IMPLIED'>
<!ENTITY % att.TableQualifiers.attributes '
 %att.TableQualifiers.attribute.colnum;
 %att.TableQualifiers.attribute.colname;
 %att.TableQualifiers.attribute.align;
 %att.TableQualifiers.attribute.colwidth;'> 
<!ENTITY % att.OutputMedium.attribute.OutputMedium '
OutputMedium CDATA #IMPLIED'>
<!ENTITY % att.OutputMedium.attributes '
 %att.OutputMedium.attribute.OutputMedium;'> 
<!ENTITY % att.ID.attribute.ID '
ID ID #IMPLIED'>
<!ENTITY % att.ID.attributes '
 %att.ID.attribute.ID;'> 
<!ENTITY % att.language.attribute.Language '
Language CDATA #IMPLIED'>
<!ENTITY % att.language.attributes '
 %att.language.attribute.Language;'> 
<!ENTITY % att.numbered.attribute.NumberingStyle '
NumberingStyle CDATA #IMPLIED'>

<!ENTITY % att.numbered.attribute.NumberingDepth '
NumberingDepth CDATA #IMPLIED'>
<!ENTITY % att.numbered.attributes '
 %att.numbered.attribute.NumberingStyle;
 %att.numbered.attribute.NumberingDepth;'> 
<!ENTITY % att.Typed.attribute.Type '
Type CDATA #IMPLIED'>
<!ENTITY % att.Typed.attributes '
 %att.Typed.attribute.Type;'> 
<!ENTITY % att.Granted.attribute.Grant '
Grant CDATA #IMPLIED'>
<!ENTITY % att.Granted.attributes '
 %att.Granted.attribute.Grant;'> 
<!ENTITY % att.FileChildrenQualifiers.attribute.FileRef '
FileRef CDATA #IMPLIED'>

<!ENTITY % att.FileChildrenQualifiers.attribute.TargetType '
TargetType CDATA #IMPLIED'>

<!ENTITY % att.FileChildrenQualifiers.attribute.ItemType '
ItemType CDATA #IMPLIED'>

<!ENTITY % att.FileChildrenQualifiers.attribute.Content '
Content CDATA #IMPLIED'>

<!ENTITY % att.FileChildrenQualifiers.attribute.ObjectID '
ObjectID CDATA #IMPLIED'>
<!ENTITY % att.FileChildrenQualifiers.attributes '
 %att.FileChildrenQualifiers.attribute.FileRef;
 %att.FileChildrenQualifiers.attribute.TargetType;
 %att.FileChildrenQualifiers.attribute.ItemType;
 %att.FileChildrenQualifiers.attribute.Content;
 %att.FileChildrenQualifiers.attribute.ObjectID;'> 
<!ENTITY % model.ConferenceInfoPart "ConfSeriesName |ConfSeriesID |ConfEventID |ConfEventAbbreviation |ConfNumber |ConfEventLocation |ConfEventURL |ConfEventDateStart |ConfEventDateEnd"> 
<!ENTITY % model.ConferenceInfoPart_sequence "ConfSeriesName, ConfSeriesID, ConfEventID, ConfEventAbbreviation, ConfNumber, ConfEventLocation, ConfEventURL, ConfEventDateStart, ConfEventDateEnd"> 
<!ENTITY % model.ConferenceInfoPart_sequenceOptional "ConfSeriesName?, ConfSeriesID?, ConfEventID?, ConfEventAbbreviation?, ConfNumber?, ConfEventLocation?, ConfEventURL?, ConfEventDateStart?, ConfEventDateEnd?"> 
<!ENTITY % model.ConferenceInfoPart_sequenceOptionalRepeatable "ConfSeriesName*, ConfSeriesID*, ConfEventID*, ConfEventAbbreviation*, ConfNumber*, ConfEventLocation*, ConfEventURL*, ConfEventDateStart*, ConfEventDateEnd*"> 
<!ENTITY % model.ConferenceInfoPart_sequenceRepeatable "ConfSeriesName+, ConfSeriesID+, ConfEventID+, ConfEventAbbreviation+, ConfNumber+, ConfEventLocation+, ConfEventURL+, ConfEventDateStart+, ConfEventDateEnd+"> 
<!ENTITY % model.ContactPart "Phone |Fax |Email |URL |Street |Postbox |Postcode |City |State |Country"> 
<!ENTITY % model.ContactPart_sequence "Phone, Fax, Email, URL, Street, Postbox, Postcode, City, State, Country"> 
<!ENTITY % model.ContactPart_sequenceOptional "Phone?, Fax?, Email?, URL?, Street?, Postbox?, Postcode?, City?, State?, Country?"> 
<!ENTITY % model.ContactPart_sequenceOptionalRepeatable "Phone*, Fax*, Email*, URL*, Street*, Postbox*, Postcode*, City*, State*, Country*"> 
<!ENTITY % model.ContactPart_sequenceRepeatable "Phone+, Fax+, Email+, URL+, Street+, Postbox+, Postcode+, City+, State+, Country+"> 
<!ENTITY % model.DatePart "Year |Month |Day"> 
<!ENTITY % model.DatePart_sequence "Year, Month, Day"> 
<!ENTITY % model.DatePart_sequenceOptional "Year?, Month?, Day?"> 
<!ENTITY % model.DatePart_sequenceOptionalRepeatable "Year*, Month*, Day*"> 
<!ENTITY % model.DatePart_sequenceRepeatable "Year+, Month+, Day+"> 
<!ENTITY % model.PartInfoPart "PartID |PartNumber |PartSequenceNumber |PartTitle |PartSubTitle |PartChapterCount |PartContext"> 
<!ENTITY % model.PartInfoPart_sequence "PartID, PartNumber, PartSequenceNumber, PartTitle, PartSubTitle, PartChapterCount, PartContext"> 
<!ENTITY % model.PartInfoPart_sequenceOptional "PartID?, PartNumber?, PartSequenceNumber?, PartTitle?, PartSubTitle?, PartChapterCount?, PartContext?"> 
<!ENTITY % model.PartInfoPart_sequenceOptionalRepeatable "PartID*, PartNumber*, PartSequenceNumber*, PartTitle*, PartSubTitle*, PartChapterCount*, PartContext*"> 
<!ENTITY % model.PartInfoPart_sequenceRepeatable "PartID+, PartNumber+, PartSequenceNumber+, PartTitle+, PartSubTitle+, PartChapterCount+, PartContext+"> 
<!ENTITY % model.NamePart "GivenName |NoGivenName |Initials |NoInitials |Particle |FamilyName |Suffix |Prefix |Degrees |NativeName"> 
<!ENTITY % model.NamePart_sequence "GivenName, NoGivenName, Initials, NoInitials, Particle, FamilyName, Suffix, Prefix, Degrees, NativeName"> 
<!ENTITY % model.NamePart_sequenceOptional "GivenName?, NoGivenName?, Initials?, NoInitials?, Particle?, FamilyName?, Suffix?, Prefix?, Degrees?, NativeName?"> 
<!ENTITY % model.NamePart_sequenceOptionalRepeatable "GivenName*, NoGivenName*, Initials*, NoInitials*, Particle*, FamilyName*, Suffix*, Prefix*, Degrees*, NativeName*"> 
<!ENTITY % model.NamePart_sequenceRepeatable "GivenName+, NoGivenName+, Initials+, NoInitials+, Particle+, FamilyName+, Suffix+, Prefix+, Degrees+, NativeName+"> 
<!ENTITY % model.referenceElements "ExternalRef |InternalRef |CitationRef"> 
<!ENTITY % model.referenceElements_sequence "ExternalRef, InternalRef, CitationRef"> 
<!ENTITY % model.referenceElements_sequenceOptional "ExternalRef?, InternalRef?, CitationRef?"> 
<!ENTITY % model.referenceElements_sequenceOptionalRepeatable "ExternalRef*, InternalRef*, CitationRef*"> 
<!ENTITY % model.referenceElements_sequenceRepeatable "ExternalRef+, InternalRef+, CitationRef+"> 
<!ENTITY % model.verySimpleText "Superscript |Subscript |Stack |Emphasis"> 
<!ENTITY % model.verySimpleText_sequence "Superscript, Subscript, Stack, Emphasis"> 
<!ENTITY % model.verySimpleText_sequenceOptional "Superscript?, Subscript?, Stack?, Emphasis?"> 
<!ENTITY % model.verySimpleText_sequenceOptionalRepeatable "Superscript*, Subscript*, Stack*, Emphasis*"> 
<!ENTITY % model.verySimpleText_sequenceRepeatable "Superscript+, Subscript+, Stack+, Emphasis+"> 
<!ENTITY % model.simpleText "InlineEquation |%model.verySimpleText; |Literal |Footnote |Sidebar |InlineMediaObject"> 
<!ENTITY % model.simpleText_sequence "InlineEquation, %model.verySimpleText;, Literal, Footnote, Sidebar, InlineMediaObject"> 
<!ENTITY % model.simpleText_sequenceOptional "InlineEquation?, %model.verySimpleText;?, Literal?, Footnote?, Sidebar?, InlineMediaObject?"> 
<!ENTITY % model.simpleText_sequenceOptionalRepeatable "InlineEquation*, %model.verySimpleText;*, Literal*, Footnote*, Sidebar*, InlineMediaObject*"> 
<!ENTITY % model.simpleText_sequenceRepeatable "InlineEquation+, %model.verySimpleText;+, Literal+, Footnote+, Sidebar+, InlineMediaObject+"> 
<!ENTITY % model.MathML "math"> 
<!ENTITY % model.MathML_sequence "math"> 
<!ENTITY % model.MathML_sequenceOptional "math?"> 
<!ENTITY % model.MathML_sequenceOptionalRepeatable "math*"> 
<!ENTITY % model.MathML_sequenceRepeatable "math+"> 
<!ENTITY % model.ListElements "OrderedList |UnorderedList |DefinitionList"> 
<!ENTITY % model.ListElements_sequence "OrderedList, UnorderedList, DefinitionList"> 
<!ENTITY % model.ListElements_sequenceOptional "OrderedList?, UnorderedList?, DefinitionList?"> 
<!ENTITY % model.ListElements_sequenceOptionalRepeatable "OrderedList*, UnorderedList*, DefinitionList*"> 
<!ENTITY % model.ListElements_sequenceRepeatable "OrderedList+, UnorderedList+, DefinitionList+"> 
<!ENTITY % model.fullText "Table |Equation |%model.referenceElements; |BlockQuote |%model.simpleText; |%model.ListElements; |Figure |MediaObject"> 
<!ENTITY % model.fullText_sequence "Table, Equation, %model.referenceElements;, BlockQuote, %model.simpleText;, %model.ListElements;, Figure, MediaObject"> 
<!ENTITY % model.fullText_sequenceOptional "Table?, Equation?, %model.referenceElements;?, BlockQuote?, %model.simpleText;?, %model.ListElements;?, Figure?, MediaObject?"> 
<!ENTITY % model.fullText_sequenceOptionalRepeatable "Table*, Equation*, %model.referenceElements;*, BlockQuote*, %model.simpleText;*, %model.ListElements;*, Figure*, MediaObject*"> 
<!ENTITY % model.fullText_sequenceRepeatable "Table+, Equation+, %model.referenceElements;+, BlockQuote+, %model.simpleText;+, %model.ListElements;+, Figure+, MediaObject+"> 
<!ENTITY % model.fullTextBlock "Para |FormalPara |Table |Figure |MediaObject"> 
<!ENTITY % model.fullTextBlock_sequence "Para, FormalPara, Table, Figure, MediaObject"> 
<!ENTITY % model.fullTextBlock_sequenceOptional "Para?, FormalPara?, Table?, Figure?, MediaObject?"> 
<!ENTITY % model.fullTextBlock_sequenceOptionalRepeatable "Para*, FormalPara*, Table*, Figure*, MediaObject*"> 
<!ENTITY % model.fullTextBlock_sequenceRepeatable "Para+, FormalPara+, Table+, Figure+, MediaObject+"> 
<!ENTITY % model.TokenExpression "mi |mo |mspace |mn |mtext"> 
<!ENTITY % model.TokenExpression_sequence "mi, mo, mspace, mn, mtext"> 
<!ENTITY % model.TokenExpression_sequenceOptional "mi?, mo?, mspace?, mn?, mtext?"> 
<!ENTITY % model.TokenExpression_sequenceOptionalRepeatable "mi*, mo*, mspace*, mn*, mtext*"> 
<!ENTITY % model.TokenExpression_sequenceRepeatable "mi+, mo+, mspace+, mn+, mtext+"> 
<!ENTITY % model.PresentationExpression "mrow |mroot |msub |menclose |mtable |msup |msubsup |mfrac |mstyle |msqrt |mpadded |munder |mover |munderover |mfenced |%model.TokenExpression;"> 
<!ENTITY % model.PresentationExpression_sequence "mrow, mroot, msub, menclose, mtable, msup, msubsup, mfrac, mstyle, msqrt, mpadded, munder, mover, munderover, mfenced, %model.TokenExpression;"> 
<!ENTITY % model.PresentationExpression_sequenceOptional "mrow?, mroot?, msub?, menclose?, mtable?, msup?, msubsup?, mfrac?, mstyle?, msqrt?, mpadded?, munder?, mover?, munderover?, mfenced?, %model.TokenExpression;?"> 
<!ENTITY % model.PresentationExpression_sequenceOptionalRepeatable "mrow*, mroot*, msub*, menclose*, mtable*, msup*, msubsup*, mfrac*, mstyle*, msqrt*, mpadded*, munder*, mover*, munderover*, mfenced*, %model.TokenExpression;*"> 
<!ENTITY % model.PresentationExpression_sequenceRepeatable "mrow+, mroot+, msub+, menclose+, mtable+, msup+, msubsup+, mfrac+, mstyle+, msqrt+, mpadded+, munder+, mover+, munderover+, mfenced+, %model.TokenExpression;+"> 
<!ENTITY % att.DisplayOrder.attribute.DisplayOrder '
DisplayOrder (Western|Eastern) #IMPLIED'>
<!ENTITY % att.DisplayOrder.attributes '
 %att.DisplayOrder.attribute.DisplayOrder;'> 
<!-- start rest of patterns -->

<!ENTITY % macro.SimpleTextModel '(#PCDATA|%model.simpleText;)*' >

<!ENTITY % macro.FullTextModel '(#PCDATA|%model.fullText;)*' >

<!ENTITY % macro.tbl.tgroup.mdl '(colspec*,thead?,tbody)' >

<!ENTITY % macro.EquationSourceModel '(#PCDATA|%model.verySimpleText;|%model.MathML;)*' >

<!ENTITY % macro.token.content '(#PCDATA|mglyph|malignmark)*' >

<!ENTITY % macro.MathExpression '(#PCDATA|%model.PresentationExpression;)*' >

<!-- end patterns -->

<!-- start elements -->

<!--doc: -->
<!ELEMENT APageFile EMPTY>
<!ATTLIST APageFile
 %att.FileChildrenQualifiers.attributes;
 %att.Typed.attributes;
Position CDATA #IMPLIED
FirstPage CDATA #IMPLIED
LastPage CDATA #IMPLIED >
<!--doc: -->
<!ELEMENT Abstract (Heading?,Para*)>
<!ATTLIST Abstract
 %att.language.attributes;
 %att.ID.attributes;
 %att.OutputMedium.attributes; >
<!--doc: -->
<!ELEMENT AbstractAdditionalLanguage EMPTY>
<!ATTLIST AbstractAdditionalLanguage
Type CDATA  #IMPLIED >
<!--doc: -->
<!ELEMENT AbstractGrant EMPTY>
<!ATTLIST AbstractGrant
 %att.Granted.attributes; >
<!--doc: -->
<!ELEMENT AbstractInDocumentLanguage EMPTY>
<!ATTLIST AbstractInDocumentLanguage
Type CDATA  #IMPLIED >
<!--doc: -->
<!ELEMENT Acknowledgments ((Heading)?,(SimplePara|FormalPara)+)>
<!--doc: -->
<!ELEMENT Affiliation (OrgID*,OrgDivision?,OrgName?,(OrgAddress|URL))>
<!ATTLIST Affiliation
 %att.ID.attributes;
ObjectID CDATA #IMPLIED >
<!--doc: -->
<!ELEMENT AplusplusRootFile EMPTY>
<!ATTLIST AplusplusRootFile
 %att.FileChildrenQualifiers.attributes; >
<!--doc: -->
<!ELEMENT Appendix ((TocAppendix)?,(Section1)+)>
<!ATTLIST Appendix
 %att.ID.attributes;
 %att.OutputMedium.attributes; >
<!--doc: -->
<!ELEMENT Archive EMPTY>
<!ATTLIST Archive
 %att.FileChildrenQualifiers.attributes; >
<!--doc: -->
<!ELEMENT ArticleNote (Heading?,(SimplePara|FormalPara)+)>
<!ATTLIST ArticleNote
 %att.Typed.attributes;
 %att.OutputMedium.attributes; >
<!--doc: -->
<!ELEMENT ArticleTitle %macro.SimpleTextModel;>
<!ATTLIST ArticleTitle
 %att.language.attributes; >
<!--doc: -->
<!ELEMENT AudioObject (Caption)*>
<!ATTLIST AudioObject
FileRef CDATA #IMPLIED
AudioID CDATA #IMPLIED >
<!--doc: -->
<!ELEMENT Author (AuthorName,Contact?)>
<!ATTLIST Author
 %att.ID.attributes;
AffiliationIDS CDATA #IMPLIED
CorrespondingAffiliationID CDATA #IMPLIED
PresentAffiliationID CDATA #IMPLIED
ORCID CDATA #IMPLIED >
<!--doc: -->
<!ELEMENT AuthorGroup ((Author|InstitutionalAuthor)+,Affiliation*)>
<!--doc: -->
<!ELEMENT AuthorInformationStyle EMPTY>
<!ATTLIST AuthorInformationStyle
Biography CDATA  #IMPLIED
Photograph CDATA  #IMPLIED
CapturePrefix CDATA  #IMPLIED >
<!--doc: -->
<!ELEMENT AuthorName (%model.NamePart;)+>
<!ATTLIST AuthorName
 %att.DisplayOrder.attributes; >
<!--doc: -->
<!ELEMENT BibArticle (Etal|BibAuthorName|InstitutionalAuthorName|Year|ArticleTitle|JournalTitle|PublisherName|PublisherLocation|SeriesTitle|BibEditorName|ConfEventName|ConfEventLocation|ConfEventDate|ConfEventDateStart|ConfEventDateEnd|NumberInSeries|FirstPage|LastPage|Occurrence|VolumeID|IssueID|BibComments|Eds|BibArticleDOI|NoArticleTitle)*>
<!--doc: -->
<!ELEMENT BibArticleDOI  (#PCDATA)>
<!--doc: -->
<!ELEMENT BibAuthorName (%model.NamePart;)*>
<!--doc: -->
<!ELEMENT BibBook (BibAuthorName|InstitutionalAuthorName|Etal|Year|ChapterTitle|ChapterSubTitle|BookTitle|PublisherName|PublisherLocation|SeriesTitle|BibEditorName|ConfEventName|ConfEventLocation|ConfEventDate|ConfEventDateStart|ConfEventDateEnd|NumberInSeries|FirstPage|LastPage|Occurrence|BibComments|Eds|EditionNumber|InstitutionalAuthorName|BibBookDOI|ISBN)*>
<!--doc: -->
<!ELEMENT BibBookDOI  (#PCDATA)>
<!--doc: -->
<!ELEMENT BibChapter (BibAuthorName|InstitutionalAuthorName|Etal|Year|ChapterTitle|ChapterSubTitle|BookTitle|PublisherName|PublisherLocation|SeriesTitle|BibEditorName|BibInstitutionalEditorName|ConfEventName|ConfEventLocation|ConfEventDate|ConfEventDateStart|ConfEventDateEnd|NumberInSeries|FirstPage|LastPage|Occurrence|BibComments|Eds|EditionNumber|NoChapterTitle|BibChapterDOI|BibBookDOI|ISBN)*>
<!--doc: -->
<!ELEMENT BibChapterDOI  (#PCDATA)>
<!--doc: -->
<!ELEMENT BibComments %macro.SimpleTextModel;>
<!--doc: -->
<!ELEMENT BibEditorName (%model.NamePart;)*>
<!--doc: -->
<!ELEMENT BibInstitutionalEditorName  (#PCDATA)>
<!--doc: -->
<!ELEMENT BibSection (Heading?,Citation*)>
<!ATTLIST BibSection
 %att.ID.attributes; >
<!--doc: -->
<!ELEMENT BibUnstructured (#PCDATA|%model.simpleText;|ExternalRef)*>
<!--doc: -->
<!ELEMENT Bibliography (Heading?,(BibSection|Citation)*)>
<!ATTLIST Bibliography
 %att.ID.attributes;
 %att.OutputMedium.attributes; >
<!--doc: -->
<!ELEMENT BibliographyGrant EMPTY>
<!ATTLIST BibliographyGrant
 %att.Granted.attributes; >
<!--doc: -->
<!ELEMENT BibliographyStyle EMPTY>
<!ATTLIST BibliographyStyle
Type CDATA  #IMPLIED >
<!--doc: -->
<!ELEMENT Binding  (#PCDATA)>
<!ATTLIST Binding
 %att.Typed.attributes;
EndsheetsPaper CDATA #IMPLIED
BookBackType CDATA #IMPLIED
BookmarkRibbonCount CDATA #IMPLIED
CompoundObjectID CDATA #IMPLIED >
<!--doc: -->
<!ELEMENT BlockQuote ((Heading)?,(%model.fullTextBlock;)*)>
<!--doc: -->
<!ELEMENT Body ((%model.fullTextBlock;)*,(Section1)*)>
<!--doc: -->
<!ELEMENT BodyBackmatter (Appendix*,Bibliography?,Index*)>
<!--doc: -->
<!ELEMENT BodyFrontmatter ((Frontispiece)?,(Dedication)?,(Foreword)*,(Preface)*,(BookNotes)?,(Toc)?)>
<!--doc: -->
<!ELEMENT BodyHTMLGrant EMPTY>
<!ATTLIST BodyHTMLGrant
 %att.Granted.attributes; >
<!--doc: -->
<!ELEMENT BodyMarkup EMPTY>
<!ATTLIST BodyMarkup
Type CDATA  #IMPLIED >
<!--doc: -->
<!ELEMENT BodyPDFGrant EMPTY>
<!ATTLIST BodyPDFGrant
 %att.Granted.attributes; >
<!--doc: -->
<!ELEMENT BodyRef EMPTY>
<!ATTLIST BodyRef
 %att.OutputMedium.attributes;
FileRef CDATA #IMPLIED
TargetType CDATA #IMPLIED
PDFType CDATA #IMPLIED >
<!--doc: -->
<!ELEMENT Book (BookInfo,Cover?,BookHeader?,(NoBody|(BodyRef*,BookFrontmatter?,(Part+|Chapter+)?,BookBackmatter?)|BookOnlineFirst))>
<!ATTLIST Book
 %att.language.attributes;
 %att.OutputMedium.attributes; >
<!--doc: -->
<!ELEMENT BookBackmatter ((BookBackmatterInfo)?,(BookBackmatterHeader)?,(NoBody|BodyRef+|(BodyBackmatter,BodyRef*)))>
<!ATTLIST BookBackmatter
 %att.OutputMedium.attributes; >
<!--doc: -->
<!ELEMENT BookBackmatterDOI  (#PCDATA)>
<!--doc: -->
<!ELEMENT BookBackmatterFirstPage  (#PCDATA)>
<!--doc: -->
<!ELEMENT BookBackmatterHeader ((PageHeaders)?,(AuthorGroup)?,(TocChapter)?,(Abstract)?,(KeywordGroup)*,(ArticleNote)*)>
<!--doc: -->
<!ELEMENT BookBackmatterInfo ((BookBackmatterDOI)?,BookBackmatterFirstPage,BookBackmatterLastPage)>
<!--doc: -->
<!ELEMENT BookBackmatterLastPage  (#PCDATA)>
<!--doc: -->
<!ELEMENT BookChapterCount  (#PCDATA)>
<!--doc: -->
<!ELEMENT BookClassification (CharacteristicValue|ClassificationGroup)+>
<!--doc: -->
<!ELEMENT BookContext ((SeriesID)?,(SubSeriesID)?,(BookSetID,BookSetTitle)*,(VolumePackageID)?)>
<!--doc: -->
<!ELEMENT BookCopyright (CopyrightHolderName|CopyrightYear|SpringerReferenceLine|SpringerLocationsLine|CopyrightStandardText|TrademarkQualifierText|ProductLiability|CopyrightComment|License)+>
<!--doc: -->
<!ELEMENT BookDOI  (#PCDATA)>
<!--doc: -->
<!ELEMENT BookEdition  (#PCDATA)>
<!--doc: -->
<!ELEMENT BookElectronicISBN  (#PCDATA)>
<!--doc: -->
<!ELEMENT BookFrontmatter ((BookFrontmatterInfo)?,(BookFrontmatterHeader)?,(NoBody|BodyRef+|(BodyFrontmatter,BodyRef*)))>
<!ATTLIST BookFrontmatter
 %att.OutputMedium.attributes; >
<!--doc: -->
<!ELEMENT BookFrontmatterDOI  (#PCDATA)>
<!--doc: -->
<!ELEMENT BookFrontmatterFirstPage  (#PCDATA)>
<!--doc: -->
<!ELEMENT BookFrontmatterHeader (PageHeaders)?>
<!--doc: -->
<!ELEMENT BookFrontmatterInfo ((BookFrontmatterDOI)?,(BookFrontmatterHeader)?,BookFrontmatterFirstPage,BookFrontmatterLastPage)>
<!--doc: -->
<!ELEMENT BookFrontmatterLastPage  (#PCDATA)>
<!--doc: -->
<!ELEMENT BookHeader (EditorGroup)>
<!--doc: -->
<!ELEMENT BookHistory ((OnlineDate)?,(PrintDate)?)>
<!--doc: -->
<!ELEMENT BookID  (#PCDATA)>
<!--doc: -->
<!ELEMENT BookInfo ((IFIPentity)*,(BookID|BookTitle|BookSubTitle|BookVolumeNumber|BookSequenceNumber|BookDOI|BookTitleID|BookPrintISBN|BookElectronicISBN|BookChapterCount|BookCopyright|BookHistory|BookContext|ConferenceInfo|EditionNumber|BookEdition|PaperInfo|BookSubjectGroup|BookstoreLocation|CatalogingInformation|BookClassification)+)>
<!ATTLIST BookInfo
 %att.language.attributes;
 %att.numbered.attributes;
 %att.OutputMedium.attributes;
BookProductType CDATA #IMPLIED
TocLevels CDATA #IMPLIED
ContainsESM CDATA #IMPLIED
MediaType CDATA #IMPLIED >
<!--doc: -->
<!ELEMENT BookJobSheet (PublisherInfo,(SeriesInfo|SubSeriesInfo|SeriesHeader|SubSeriesHeader)*,BookInfo,AuthorGroup?,EditorGroup?,CollaboratorGroup?,ProductionInfo)>
<!--doc: -->
<!ELEMENT BookMultiVolumeCount  (#PCDATA)>
<!--doc: -->
<!ELEMENT BookNotes (BookNotesTitle,(AuthorGroup)?,Body)>
<!--doc: -->
<!ELEMENT BookNotesTitle %macro.SimpleTextModel;>
<!ATTLIST BookNotesTitle
 %att.language.attributes; >
<!--doc: -->
<!ELEMENT BookOnlineFirst (Part+|Chapter+)>
<!--doc: -->
<!ELEMENT BookPrintISBN  (#PCDATA)>
<!--doc: -->
<!ELEMENT BookSequenceNumber  (#PCDATA)>
<!--doc: -->
<!ELEMENT BookSetID  (#PCDATA)>
<!--doc: -->
<!ELEMENT BookSetTitle  (#PCDATA)>
<!--doc: -->
<!ELEMENT BookSubTitle  (#PCDATA)>
<!--doc: -->
<!ELEMENT BookSubject  (#PCDATA)>
<!ATTLIST BookSubject
 %att.Typed.attributes;
Code CDATA #IMPLIED
Priority CDATA #IMPLIED >
<!--doc: -->
<!ELEMENT BookSubjectGroup ((BookSubject)+,(SubjectCollection)?)>
<!--doc: -->
<!ELEMENT BookTitle %macro.SimpleTextModel;>
<!--doc: -->
<!ELEMENT BookTitleID  (#PCDATA)>
<!--doc: -->
<!ELEMENT BookVolumeNumber  (#PCDATA)>
<!--doc: -->
<!ELEMENT BookstoreLocation  (#PCDATA)>
<!--doc: -->
<!ELEMENT Caption ((CaptionNumber)?,CaptionContent)>
<!ATTLIST Caption
 %att.language.attributes; >
<!--doc: -->
<!ELEMENT CaptionContent ((SimplePara)+,(Credit)*)>
<!--doc: -->
<!ELEMENT CaptionNumber  (#PCDATA)>
<!--doc: -->
<!ELEMENT CatalogingInformation (#PCDATA|%model.verySimpleText;|InlineEquation)*>
<!ATTLIST CatalogingInformation
Library CDATA #IMPLIED >
<!--doc: -->
<!ELEMENT Chapter (ChapterInfo,ChapterHeader?,(NoBody|BodyRef+|(Body,BodyRef*)),BodyRef?,ChapterBackmatter?)>
<!ATTLIST Chapter
 %att.language.attributes;
 %att.ID.attributes;
 %att.OutputMedium.attributes; >
<!--doc: -->
<!ELEMENT ChapterBackmatter ((Acknowledgments)?,(Appendix)*,(Bibliography)?)>
<!--doc: -->
<!ELEMENT ChapterCategory  (#PCDATA)>
<!--doc: -->
<!ELEMENT ChapterContext (SeriesID|SubSeriesID|BookSetID|BookSetTitle|VolumePackageID|PartID|SubPartID|BookID|BookTitle)*>
<!--doc: -->
<!ELEMENT ChapterCopyright (CopyrightHolderName,CopyrightYear,CopyrightComment?,License?)>
<!--doc: -->
<!ELEMENT ChapterDOI  (#PCDATA)>
<!--doc: -->
<!ELEMENT ChapterFirstPage  (#PCDATA)>
<!--doc: -->
<!ELEMENT ChapterGrants (MetadataGrant,AbstractGrant?,BodyPDFGrant?,BodyHTMLGrant?,BibliographyGrant?,ESMGrant?)>
<!ATTLIST ChapterGrants
 %att.Typed.attributes; >
<!--doc: -->
<!ELEMENT ChapterHeader (AuthorGroup?,Abstract*,KeywordGroup*,ArticleNote*)>
<!--doc: -->
<!ELEMENT ChapterHistory (RegistrationDate|OnlineDate)+>
<!--doc: -->
<!ELEMENT ChapterID  (#PCDATA)>
<!--doc: -->
<!ELEMENT ChapterInfo ((IFIPentity)*,(ChapterID|ChapterDOI|ChapterSequenceNumber|ChapterTitle|ChapterSubTitle|ChapterFirstPage|ChapterLastPage|ChapterCopyright|ChapterContext|ChapterHistory|ChapterRelatedObject|ChapterCategory|ChapterGrants|ConferenceReference)+)>
<!ATTLIST ChapterInfo
 %att.numbered.attributes;
 %att.OutputMedium.attributes;
 %att.language.attributes;
ChapterType CDATA #IMPLIED
TocLevels CDATA #IMPLIED
ContainsESM CDATA #IMPLIED >
<!--doc: -->
<!ELEMENT ChapterLastPage  (#PCDATA)>
<!--doc: -->
<!ELEMENT ChapterRelatedObject (RelatedObjectDOI)>
<!ATTLIST ChapterRelatedObject
RelatedObjectType CDATA #IMPLIED >
<!--doc: -->
<!ELEMENT ChapterSequenceNumber  (#PCDATA)>
<!--doc: -->
<!ELEMENT ChapterSubTitle %macro.SimpleTextModel;>
<!ATTLIST ChapterSubTitle
 %att.language.attributes; >
<!--doc: -->
<!ELEMENT ChapterTitle %macro.SimpleTextModel;>
<!ATTLIST ChapterTitle
 %att.language.attributes; >
<!--doc: -->
<!ELEMENT CharacteristicValue %macro.SimpleTextModel;>
<!ATTLIST CharacteristicValue
Characteristic CDATA  #IMPLIED >
<!--doc: -->
<!ELEMENT Citation (CitationNumber?,(BibUnstructured|BibChapter|BibArticle|BibBook)*)>
<!ATTLIST Citation
 %att.ID.attributes; >
<!--doc: -->
<!ELEMENT CitationNumber  (#PCDATA)>
<!--doc: -->
<!ELEMENT CitationRef  (#PCDATA)>
<!ATTLIST CitationRef
CitationID CDATA #IMPLIED
AdditionalCitationIDS CDATA #IMPLIED >
<!--doc: -->
<!ELEMENT CitationStyle EMPTY>
<!ATTLIST CitationStyle
Type CDATA  #IMPLIED >
<!--doc: -->
<!ELEMENT City  (#PCDATA)>
<!--doc: -->
<!ELEMENT ClassificationGroup (CharacteristicValue)+>
<!--doc: -->
<!ELEMENT CoPublisher  (#PCDATA)>
<!--doc: -->
<!ELEMENT Collaborator (CollaboratorName,Contact?)>
<!ATTLIST Collaborator
 %att.Typed.attributes;
AffiliationIDS CDATA #IMPLIED
ORCID CDATA #IMPLIED >
<!--doc: -->
<!ELEMENT CollaboratorGroup (Collaborator+,Affiliation*)>
<!--doc: -->
<!ELEMENT CollaboratorName (%model.NamePart;)+>
<!ATTLIST CollaboratorName
 %att.DisplayOrder.attributes; >
<!--doc: -->
<!ELEMENT ColorImagesInPrint  (#PCDATA)>
<!--doc: -->
<!ELEMENT ColorImagesOnPage  (#PCDATA)>
<!ATTLIST ColorImagesOnPage
CompoundObjectID CDATA #IMPLIED >
<!--doc: -->
<!ELEMENT ColorSpecifications (LayoutColorName|PrintingColorName)*>
<!ATTLIST ColorSpecifications
CompoundObjectID CDATA #IMPLIED
LayoutColorCount CDATA #IMPLIED
PrintingColorCount CDATA #IMPLIED >
<!--doc: -->
<!ELEMENT CompanyName  (#PCDATA)>
<!--doc: -->
<!ELEMENT CompoundBookObjectInfo (ISBN|EAN|BookMultiVolumeCount|PurchaseOrderNumber)*>
<!ATTLIST CompoundBookObjectInfo
 %att.ID.attributes;
 %att.Typed.attributes;
SeriesID CDATA #IMPLIED
MediaType CDATA #IMPLIED >
<!--doc: -->
<!ELEMENT CompoundObjectNumberOfArabicPages  (#PCDATA)>
<!--doc: -->
<!ELEMENT CompoundObjectNumberOfColorPages  (#PCDATA)>
<!ATTLIST CompoundObjectNumberOfColorPages
CompoundObjectID CDATA #IMPLIED >
<!--doc: -->
<!ELEMENT CompoundObjectNumberOfImages  (#PCDATA)>
<!ATTLIST CompoundObjectNumberOfImages
Illustrations CDATA #IMPLIED
PrintImagesColor CDATA #IMPLIED
PrintImagesBlackWhite CDATA #IMPLIED >
<!--doc: -->
<!ELEMENT CompoundObjectNumberOfRomanPages  (#PCDATA)>
<!--doc: -->
<!ELEMENT CompoundObjectTechnicalInfo (ManuscriptNumberOfPages|CompoundObjectTotalNumberOfPages|CompoundObjectNumberOfArabicPages|CompoundObjectNumberOfRomanPages|CompoundObjectNumberOfColorPages|CompoundObjectNumberOfImages|ColorImagesInPrint|ColorImagesOnPage|ProductionClassification|PrintQuality|PrintRun|Shares|FormatTrimSize|CopyEditing|Typesetting)*>
<!--doc: -->
<!ELEMENT CompoundObjectTotalNumberOfPages  (#PCDATA)>
<!ATTLIST CompoundObjectTotalNumberOfPages
CompoundObjectID CDATA #IMPLIED >
<!--doc: -->
<!ELEMENT ConfEventAbbreviation  (#PCDATA)>
<!--doc: -->
<!ELEMENT ConfEventDate  (#PCDATA)>
<!--doc: -->
<!ELEMENT ConfEventDateEnd (%model.DatePart;)+>
<!--doc: -->
<!ELEMENT ConfEventDateStart (%model.DatePart;)+>
<!--doc: -->
<!ELEMENT ConfEventID  (#PCDATA)>
<!ATTLIST ConfEventID
 %att.Typed.attributes; >
<!--doc: -->
<!ELEMENT ConfEventLocation (#PCDATA|City|Country)*>
<!--doc: -->
<!ELEMENT ConfEventName %macro.SimpleTextModel;>
<!--doc: -->
<!ELEMENT ConfEventURL  (#PCDATA)>
<!--doc: -->
<!ELEMENT ConfNumber  (#PCDATA)>
<!--doc: -->
<!ELEMENT ConfSeriesID  (#PCDATA)>
<!ATTLIST ConfSeriesID
 %att.Typed.attributes; >
<!--doc: -->
<!ELEMENT ConfSeriesName  (#PCDATA)>
<!ATTLIST ConfSeriesName
 %att.ID.attributes; >
<!--doc: -->
<!ELEMENT ConferenceInfo (%model.ConferenceInfoPart;)+>
<!--doc: -->
<!ELEMENT ConferenceReference  (#PCDATA)>
<!--doc: -->
<!ELEMENT Contact (%model.ContactPart;)+>
<!--doc: -->
<!ELEMENT ContactPerson (ContactPersonName|Contact)*>
<!--doc: -->
<!ELEMENT ContactPersonName (%model.NamePart;)+>
<!--doc: -->
<!ELEMENT ContentFiles (File)*>
<!--doc: -->
<!ELEMENT CopyEditing EMPTY>
<!ATTLIST CopyEditing
Category CDATA #IMPLIED >
<!--doc: -->
<!ELEMENT CopyrightComment (#PCDATA|SimplePara)*>
<!--doc: -->
<!ELEMENT CopyrightHolderName  (#PCDATA)>
<!--doc: -->
<!ELEMENT CopyrightStandardText  (#PCDATA)>
<!ATTLIST CopyrightStandardText
 %att.language.attributes;
Country CDATA #IMPLIED >
<!--doc: -->
<!ELEMENT CopyrightYear  (#PCDATA)>
<!--doc: -->
<!ELEMENT Country  (#PCDATA)>
<!ATTLIST Country
Code CDATA #IMPLIED >
<!--doc: -->
<!ELEMENT Cover (CoverInfo,(CoverFigure)?,(BodyRef)*)>
<!ATTLIST Cover
Type CDATA  #IMPLIED >
<!--doc: -->
<!ELEMENT CoverExteriorColorName  (#PCDATA)>
<!--doc: -->
<!ELEMENT CoverFigure (MediaObject)>
<!--doc: -->
<!ELEMENT CoverFirstPage  (#PCDATA)>
<!--doc: -->
<!ELEMENT CoverInfo (CoverFirstPage,CoverLastPage)>
<!--doc: -->
<!ELEMENT CoverInteriorColorName  (#PCDATA)>
<!--doc: -->
<!ELEMENT CoverLastPage  (#PCDATA)>
<!--doc: -->
<!ELEMENT CoverProductionInfo (CoverExteriorColorName|CoverInteriorColorName|EndsheetsLayoutColorName|EndsheetsPrintingColorName|SpineWidth)*>
<!ATTLIST CoverProductionInfo
Style CDATA #IMPLIED
PaperStock CDATA #IMPLIED
Printing CDATA #IMPLIED
Stamping CDATA #IMPLIED
BinderBoards CDATA #IMPLIED
Finishing CDATA #IMPLIED
ChangingImages CDATA #IMPLIED
Creases CDATA #IMPLIED
CoverExteriorColorCount CDATA #IMPLIED
CoverInteriorColorCount CDATA #IMPLIED
Dustjacket CDATA #IMPLIED
CompoundObjectID CDATA #IMPLIED >
<!--doc: -->
<!ELEMENT Credit (SimplePara)+>
<!--doc: -->
<!ELEMENT DataObject (Caption)*>
<!ATTLIST DataObject
FileRef CDATA #IMPLIED >
<!--doc: -->
<!ELEMENT Day  (#PCDATA)>
<!--doc: -->
<!ELEMENT Deadline (FixedPublicationDate|S50TypesetterDeadline|S200TypesetterDeadline|S300TypesetterDeadline|S600TypesetterDeadline|S650TypesetterDeadline|S700ElectronicDistributionDeadline|S700PrinterDeadline|S800PrintDistributionDeadline|S900ElectronicDistributionDeadline|PlannedPublicationDate)*>
<!--doc: -->
<!ELEMENT Dedication ((Heading)?,(SimplePara)+)>
<!--doc: -->
<!ELEMENT DefinitionList ((Heading)?,(DefinitionListEntry)+)>
<!--doc: -->
<!ELEMENT DefinitionListEntry (Term,Description)>
<!--doc: -->
<!ELEMENT Degrees  (#PCDATA)>
<!--doc: -->
<!ELEMENT Deliverables (DeliverablesForCompoundBookObjects)?>
<!--doc: -->
<!ELEMENT DeliverablesForCompoundBookObjects EMPTY>
<!ATTLIST DeliverablesForCompoundBookObjects
BackmatterElectronicPDF CDATA #IMPLIED
BackmatterXML CDATA #IMPLIED
BookDeltaPDF CDATA #IMPLIED
BookElectronicPDF CDATA #IMPLIED
BookEpsilonPDF CDATA #IMPLIED
BookPrintPDF CDATA #IMPLIED
BookProofFeedbackPDF CDATA #IMPLIED
ChapterElectronicPDF CDATA #IMPLIED
ChapterOnlineMediaObjects CDATA #IMPLIED
ChapterPrintMediaObjects CDATA #IMPLIED
ChapterTEX CDATA #IMPLIED
ChapterXMLWithBody CDATA #IMPLIED
ChapterXMLWithBodyRefsOnly CDATA #IMPLIED
CoverFigure CDATA #IMPLIED
CoverPrintPDF CDATA #IMPLIED
DustJacketPDF CDATA #IMPLIED
FrontmatterElectronicPDF CDATA #IMPLIED
FrontmatterXML CDATA #IMPLIED
Manuscript CDATA #IMPLIED
PartBackmatterElectronicPDF CDATA #IMPLIED
PartBackmatterManuscripts CDATA #IMPLIED
PartBackmatterXML CDATA #IMPLIED
PartFrontmatterElectronicPDF CDATA #IMPLIED
PartFrontmatterManuscripts CDATA #IMPLIED
PartFrontmatterXML CDATA #IMPLIED
Pit-Stop-Reports CDATA #IMPLIED
TocElectronicPDF CDATA #IMPLIED >
<!--doc: -->
<!ELEMENT Description (Para)+>
<!--doc: -->
<!ELEMENT DiscreteBookObjectInfo (CoverInfo|BookFrontmatterInfo|ChapterInfo|BookBackmatterInfo|AuthorGroup|DiscreteObjectTechnicalInfo)*>
<!ATTLIST DiscreteBookObjectInfo
 %att.ID.attributes;
CompoundObjectID CDATA #IMPLIED >
<!--doc: -->
<!ELEMENT DiscreteObjectTechnicalInfo (ProductionClassification)?>
<!ATTLIST DiscreteObjectTechnicalInfo
ContainsColorImages CDATA #IMPLIED >
<!--doc: -->
<!ELEMENT EAN  (#PCDATA)>
<!--doc: -->
<!ELEMENT ESMGrant EMPTY>
<!ATTLIST ESMGrant
 %att.Granted.attributes; >
<!--doc: -->
<!ELEMENT EditionNumber  (#PCDATA)>
<!--doc: -->
<!ELEMENT Editor (EditorName,Contact?)>
<!ATTLIST Editor
AffiliationIDS CDATA #IMPLIED
PresentAffiliationID CDATA #IMPLIED
ORCID CDATA #IMPLIED >
<!--doc: -->
<!ELEMENT EditorGroup (Editor+,Affiliation*)>
<!--doc: -->
<!ELEMENT EditorName (%model.NamePart;)*>
<!ATTLIST EditorName
 %att.DisplayOrder.attributes; >
<!--doc: -->
<!ELEMENT EditorialContact (EditorialContactName|Contact)*>
<!--doc: -->
<!ELEMENT EditorialContactName (%model.NamePart;)+>
<!--doc: -->
<!ELEMENT EditorialInfo (PublishingSegment)*>
<!--doc: -->
<!ELEMENT EditorialManuscriptNumber  (#PCDATA)>
<!--doc: -->
<!ELEMENT Eds EMPTY>
<!--doc: -->
<!ELEMENT ElectronicDelivery EMPTY>
<!ATTLIST ElectronicDelivery
Delivery (Complete|Incomplete|None) #REQUIRED >
<!--doc: -->
<!ELEMENT Email  (#PCDATA)>
<!--doc: -->
<!ELEMENT Emphasis  (#PCDATA)>
<!ATTLIST Emphasis
 %att.Typed.attributes;
FontCategory CDATA #IMPLIED >
<!--doc: -->
<!ELEMENT EndsheetsLayoutColorName  (#PCDATA)>
<!--doc: -->
<!ELEMENT EndsheetsPrintingColorName  (#PCDATA)>
<!--doc: -->
<!ELEMENT Equation ((EquationNumber)?,(MediaObject|EquationSource)+)>
<!ATTLIST Equation
 %att.ID.attributes; >
<!--doc: -->
<!ELEMENT EquationNumber  (#PCDATA)>
<!--doc: -->
<!ELEMENT EquationSource %macro.EquationSourceModel;>
<!ATTLIST EquationSource
Format (TEX|MATHML|MATHTYPE|XML) #IMPLIED
NOTATION (TEX|MATHML|MATHTYPE|XML) #IMPLIED >
<!--doc: -->
<!ELEMENT Etal EMPTY>
<!--doc: -->
<!ELEMENT ExternalRef (RefSource,RefTarget+)>
<!ATTLIST ExternalRef
 %att.ID.attributes; >
<!--doc: -->
<!ELEMENT FamilyName  (#PCDATA)>
<!--doc: -->
<!ELEMENT Fax  (#PCDATA)>
<!--doc: -->
<!ELEMENT Figure ((Caption)*,(MediaObject)+)>
<!ATTLIST Figure
 %att.ID.attributes;
Float (Yes|No) #REQUIRED
Category (Schema|Structure|Standard|Logo) #REQUIRED >
<!--doc: -->
<!ELEMENT File (AplusplusRootFile|MediaObject|RenditionItem|WorkItem|Archive|Cover|APageFile)*>
<!ATTLIST File
DiscreteObjectID CDATA #IMPLIED
CompoundObjectID CDATA #IMPLIED >
<!--doc: -->
<!ELEMENT FilesToApplication (ContentFiles|NoFiles)>
<!--doc: -->
<!ELEMENT FilesToPublisher (ContentFiles|NoFiles)>
<!--doc: -->
<!ELEMENT FilesToSupplier (ContentFiles|NoFiles)>
<!--doc: -->
<!ELEMENT FirstPage  (#PCDATA)>
<!--doc: -->
<!ELEMENT FixedPublicationDate ((%model.DatePart;)+,Hour?,Reason?)>
<!--doc: -->
<!ELEMENT Footnote (Para)*>
<!ATTLIST Footnote
 %att.ID.attributes; >
<!--doc: -->
<!ELEMENT Foreword (ForewordInfo,(AuthorGroup)?,Body)>
<!--doc: -->
<!ELEMENT ForewordDate  (#PCDATA)>
<!--doc: -->
<!ELEMENT ForewordInfo (ForewordTitle,(ForewordDate)?,(ForewordLocation)*)>
<!--doc: -->
<!ELEMENT ForewordLocation  (#PCDATA)>
<!--doc: -->
<!ELEMENT ForewordTitle %macro.SimpleTextModel;>
<!ATTLIST ForewordTitle
 %att.language.attributes; >
<!--doc: -->
<!ELEMENT FormalPara (Heading,Para+)>
<!ATTLIST FormalPara
 %att.Typed.attributes;
 %att.OutputMedium.attributes;
ID ID #IMPLIED
RenderingStyle CDATA #IMPLIED >
<!--doc: -->
<!ELEMENT FormatTrimSize  (#PCDATA)>
<!ATTLIST FormatTrimSize
CompoundObjectID CDATA #IMPLIED
TrimHeightMm CDATA #IMPLIED
TrimWidthMm CDATA #IMPLIED
TrimHeightInch CDATA #IMPLIED
TrimWidthInch CDATA #IMPLIED >
<!--doc: -->
<!ELEMENT Frontispiece (Figure)>
<!--doc: -->
<!ELEMENT FullServiceVendor (CompanyName|Contact|ContactPerson|RemarkTo|CopyEditing|ProofInfo|FilesToSupplier|Deliverables|CompanyName|FilesToPublisher)*>
<!--doc: -->
<!ELEMENT GivenName  (#PCDATA)>
<!--doc: -->
<!ELEMENT Handle  (#PCDATA)>
<!--doc: -->
<!ELEMENT Heading (#PCDATA|%model.simpleText;|%model.referenceElements;)*>
<!--doc: -->
<!ELEMENT HistoryStyle  (#PCDATA)>
<!--doc: -->
<!ELEMENT Hour  (#PCDATA)>
<!--doc:groups together all IFIP specific descriptors (TC, SC, etc.) -->
<!ELEMENT IFIPentity (TC|WG|SIG)*>
<!ATTLIST IFIPentity
subline (StateoftheArtSurvey|Survey|Tutorial|Festschrift) #IMPLIED >
<!--doc: -->
<!ELEMENT ISBN  (#PCDATA)>
<!--doc: -->
<!ELEMENT ImageObject (Caption)*>
<!ATTLIST ImageObject
FileRef CDATA #REQUIRED
Format (GIF|TIFF|EPS|JPEG|PNG|SVG) #REQUIRED
Color (Color|BlackWhite) #REQUIRED
Type (Linedraw|Halftone|LinedrawHalftone) #IMPLIED
Rendition (Print|HTML|ProofPDF|Preview) #IMPLIED >
<!--doc: -->
<!ELEMENT Index (Heading,SubHeading?)>
<!ATTLIST Index
 %att.ID.attributes; >
<!--doc: -->
<!ELEMENT IndexEntry (PrimaryIE|SecondaryIE|TertiaryIE|SeeIE|SeeAlsoIE)*>
<!--doc: -->
<!ELEMENT Initials  (#PCDATA)>
<!--doc: -->
<!ELEMENT InlineEquation (InlineMediaObject|EquationSource)+>
<!ATTLIST InlineEquation
 %att.ID.attributes; >
<!--doc: -->
<!ELEMENT InlineMediaObject (ImageObject|VideoObject|AudioObject|DataObject|TextObject)+>
<!--doc: -->
<!ELEMENT InstitutionalAuthor (InstitutionalAuthorName,Contact?)>
<!ATTLIST InstitutionalAuthor
 %att.ID.attributes;
AffiliationIDS CDATA #IMPLIED
SAPID CDATA #IMPLIED
SpringerReferenceID CDATA #IMPLIED >
<!--doc: -->
<!ELEMENT InstitutionalAuthorName  (#PCDATA)>
<!--doc: -->
<!ELEMENT InternalRef %macro.SimpleTextModel;>
<!ATTLIST InternalRef
 %att.ID.attributes;
RefID CDATA #IMPLIED >
<!--doc: -->
<!ELEMENT IssueID  (#PCDATA)>
<!--doc: -->
<!ELEMENT ItemContent (Para)+>
<!--doc: -->
<!ELEMENT ItemNumber  (#PCDATA)>
<!--doc: -->
<!ELEMENT JobSheet (BookJobSheet)+>
<!ATTLIST JobSheet
Version CDATA #IMPLIED
ObjectID CDATA #IMPLIED
JobSheetDate CDATA #IMPLIED
Supplier CDATA #IMPLIED >
<!--doc: -->
<!ELEMENT JournalTitle  (#PCDATA)>
<!--doc: -->
<!ELEMENT Keyword %macro.SimpleTextModel;>
<!--doc: -->
<!ELEMENT KeywordGroup (Heading?,Keyword+)>
<!ATTLIST KeywordGroup
 %att.language.attributes;
 %att.OutputMedium.attributes;
Source CDATA #IMPLIED >
<!--doc: -->
<!ELEMENT KeywordsInDocumentLanguage EMPTY>
<!ATTLIST KeywordsInDocumentLanguage
Type CDATA  #IMPLIED >
<!--doc: -->
<!ELEMENT LastPage  (#PCDATA)>
<!--doc: -->
<!ELEMENT LayoutColorName  (#PCDATA)>
<!--doc: -->
<!ELEMENT License (SimplePara)*>
<!ATTLIST License
Type CDATA #IMPLIED
SubType CDATA #IMPLIED
Version CDATA #IMPLIED >
<!--doc: -->
<!ELEMENT ListItem (ItemNumber,ItemContent)>
<!--doc: -->
<!ELEMENT Literal (#PCDATA|Emphasis)*>
<!--doc: -->
<!ELEMENT ManuscriptInfo (PeerReviewSystem|EditorialManuscriptNumber|ManuscriptNumberOfPages|ManuscriptNumberOfGraphics|ManuscriptNumberOfTables|RemarkByEditor|ElectronicDelivery|PostalDelivery)*>
<!--doc: -->
<!ELEMENT ManuscriptNumberOfGraphics  (#PCDATA)>
<!--doc: -->
<!ELEMENT ManuscriptNumberOfPages  (#PCDATA)>
<!--doc: -->
<!ELEMENT ManuscriptNumberOfTables  (#PCDATA)>
<!--doc: -->
<!ELEMENT MediaObject ((Caption)*,(ImageObject|VideoObject|AudioObject|DataObject|TextObject)+)>
<!ATTLIST MediaObject
 %att.ID.attributes; >
<!--doc: -->
<!ELEMENT MetadataGrant EMPTY>
<!ATTLIST MetadataGrant
 %att.Granted.attributes; >
<!--doc: -->
<!ELEMENT Month  (#PCDATA)>
<!--doc: -->
<!ELEMENT NativeName  (#PCDATA)>
<!--doc: -->
<!ELEMENT NoArticleTitle EMPTY>
<!--doc: -->
<!ELEMENT NoBody  (#PCDATA)>
<!--doc: -->
<!ELEMENT NoChapterTitle EMPTY>
<!--doc: -->
<!ELEMENT NoFiles EMPTY>
<!--doc: -->
<!ELEMENT NoGivenName EMPTY>
<!--doc: -->
<!ELEMENT NoInitials EMPTY>
<!--doc: -->
<!ELEMENT NumberInSeries  (#PCDATA)>
<!--doc: -->
<!ELEMENT Occurrence (Handle|URL)>
<!ATTLIST Occurrence
Type CDATA  #IMPLIED >
<!--doc: -->
<!ELEMENT OnlineDate (%model.DatePart;)+>
<!--doc: -->
<!ELEMENT OpeningFigure ((Caption)*,(MediaObject)+)>
<!ATTLIST OpeningFigure
 %att.ID.attributes;
Float CDATA #REQUIRED
Category CDATA  #REQUIRED >
<!--doc: -->
<!ELEMENT OpeningHeader %macro.SimpleTextModel;>
<!--doc: -->
<!ELEMENT OrderedList ((Heading)?,(ListItem)+)>
<!--doc: -->
<!ELEMENT OrgAddress (%model.ContactPart;)+>
<!--doc: -->
<!ELEMENT OrgDivision  (#PCDATA)>
<!--doc: -->
<!ELEMENT OrgID  (#PCDATA)>
<!ATTLIST OrgID
 %att.Typed.attributes;
Level CDATA #IMPLIED >
<!--doc: -->
<!ELEMENT OrgName  (#PCDATA)>
<!--doc: -->
<!ELEMENT PageHeaders ((OpeningHeader)?,(OpeningFigure)?,(RunningTitle)+,(RunningAuthor)?)>
<!--doc: -->
<!ELEMENT PaperInfo  (#PCDATA)>
<!ATTLIST PaperInfo
 %att.language.attributes; >
<!--doc: -->
<!ELEMENT Para %macro.FullTextModel;>
<!ATTLIST Para
 %att.ID.attributes;
 %att.Typed.attributes;
 %att.OutputMedium.attributes;
TextBreak (Yes|No) #IMPLIED >
<!--doc: -->
<!ELEMENT Part (PartInfo,(BookFrontmatter)?,(BodyRef)*,(SubPart)*,(Chapter)*,(BookFrontmatter)?)>
<!ATTLIST Part
 %att.ID.attributes;
 %att.OutputMedium.attributes; >
<!--doc: -->
<!ELEMENT PartChapterCount  (#PCDATA)>
<!--doc: -->
<!ELEMENT PartContext (SeriesID?,SubSeriesID?,(BookSetID,BookSetTitle)*,VolumePackageID?,BookID?,BookTitle?)>
<!--doc: -->
<!ELEMENT PartID  (#PCDATA)>
<!--doc: -->
<!ELEMENT PartInfo (%model.PartInfoPart;)+>
<!ATTLIST PartInfo
 %att.OutputMedium.attributes;
TocLevels CDATA #IMPLIED >
<!--doc: -->
<!ELEMENT PartInfoGroup (PartInfo|AuthorGroup|EditorGroup|DiscreteBookObjectInfo)*>
<!--doc: -->
<!ELEMENT PartNumber  (#PCDATA)>
<!--doc: -->
<!ELEMENT PartSequenceNumber  (#PCDATA)>
<!--doc: -->
<!ELEMENT PartSubTitle %macro.SimpleTextModel;>
<!--doc: -->
<!ELEMENT PartTitle %macro.SimpleTextModel;>
<!--doc: -->
<!ELEMENT Particle  (#PCDATA)>
<!--doc: -->
<!ELEMENT PeerReviewSystem  (#PCDATA)>
<!--doc: -->
<!ELEMENT Phone  (#PCDATA)>
<!--doc: -->
<!ELEMENT PlannedPublicationDate (%model.DatePart;)+>
<!ATTLIST PlannedPublicationDate
CompoundObjectID CDATA #IMPLIED >
<!--doc: -->
<!ELEMENT PostalDelivery EMPTY>
<!ATTLIST PostalDelivery
Delivery (Complete|Incomplete|None) #REQUIRED >
<!--doc: -->
<!ELEMENT Postbox  (#PCDATA)>
<!--doc: -->
<!ELEMENT Postcode  (#PCDATA)>
<!--doc: -->
<!ELEMENT Preface (PrefaceInfo,(AuthorGroup)?,Body)>
<!--doc: -->
<!ELEMENT PrefaceDate  (#PCDATA)>
<!--doc: -->
<!ELEMENT PrefaceInfo (PrefaceTitle,(PrefaceDate)?,(PrefaceLocation)*)>
<!--doc: -->
<!ELEMENT PrefaceLocation  (#PCDATA)>
<!--doc: -->
<!ELEMENT PrefaceTitle %macro.SimpleTextModel;>
<!ATTLIST PrefaceTitle
 %att.language.attributes; >
<!--doc: -->
<!ELEMENT Prefix  (#PCDATA)>
<!--doc: -->
<!ELEMENT PrimaryIE %macro.SimpleTextModel;>
<!--doc: -->
<!ELEMENT PrintDate (%model.DatePart;)+>
<!--doc: -->
<!ELEMENT PrintQuality EMPTY>
<!ATTLIST PrintQuality
Level CDATA  #IMPLIED >
<!--doc: -->
<!ELEMENT PrintRun EMPTY>
<!ATTLIST PrintRun
CompoundObjectID CDATA #IMPLIED
Total CDATA #IMPLIED >
<!--doc: -->
<!ELEMENT PrintingColorName  (#PCDATA)>
<!--doc: -->
<!ELEMENT Priority EMPTY>
<!ATTLIST Priority
Level CDATA #IMPLIED >
<!--doc: -->
<!ELEMENT ProductLiability  (#PCDATA)>
<!ATTLIST ProductLiability
 %att.language.attributes;
Country CDATA #IMPLIED >
<!--doc: -->
<!ELEMENT ProductionClassification EMPTY>
<!ATTLIST ProductionClassification
 %att.Typed.attributes; >
<!--doc: -->
<!ELEMENT ProductionEditor (ProductionEditorName,Contact)>
<!--doc: -->
<!ELEMENT ProductionEditorName (%model.NamePart;)+>
<!--doc: -->
<!ELEMENT ProductionInfo (SPACEInfo|ManuscriptInfo|ProductionEditor|ContactPerson|EditorialInfo|QualifyingProductionNotes|TechnicalInfo|DiscreteObjectTechnicalInfo|CompoundBookObjectInfo|PartInfoGroup|DiscreteBookObjectInfo|WorkflowInfo|EditorialContact|CompoundObjectTechnicalInfo)*>
<!--doc: -->
<!ELEMENT ProofInfo (ProofRecipient)*>
<!ATTLIST ProofInfo
ProofStage CDATA #IMPLIED >
<!--doc: -->
<!ELEMENT ProofRecipient (Author|ProductionEditor|Editor|InstitutionalAuthor)*>
<!ATTLIST ProofRecipient
ProofType CDATA #IMPLIED
CorrectionsRequired CDATA #IMPLIED >
<!--doc:groups together all the Springer metadata associated to a book related publication (book or book chapter) -->
<!ELEMENT Publisher (PublisherInfo,Series)>
<!--doc: -->
<!ELEMENT PublisherImprintName  (#PCDATA)>
<!--doc:basic publisher identification -->
<!ELEMENT PublisherInfo (PublisherName|PublisherLocation|PublisherImprintName|PublisherURL|PublisherLogo|CoPublisher)*>
<!--doc:groups together all the Springer metadata associated to a book related publication (book or book chapter) -->
<!ELEMENT PublisherLocation  (#PCDATA)>
<!--doc: -->
<!ELEMENT PublisherLogo (Figure)>
<!--doc:name of the publisher -->
<!ELEMENT PublisherName  (#PCDATA)>
<!ATTLIST PublisherName
 %att.DisplayOrder.attributes; >
<!--doc: -->
<!ELEMENT PublisherURL  (#PCDATA)>
<!--doc: -->
<!ELEMENT PublishingSegment  (#PCDATA)>
<!--doc: -->
<!ELEMENT PurchaseOrderNumber  (#PCDATA)>
<!--doc: -->
<!ELEMENT QualifyingProductionNotes (QualifyingProductionNotesAds|QualifyingProductionNotesCdDvdEsm|QualifyingProductionNotesComplimentaryCopies|QualifyingProductionNotesCopyEditing|QualifyingProductionNotesFrontmatter|QualifyingProductionNotesIndex|QualifyingProductionNotesProductionClassification|QualifyingProductionNotesSpringerDotCom|QualifyingProductionNotesMiscellaneous|QualifyingProductionNotesManuscriptMaterial|QualifyingProductionNotesLayout|QualifyingProductionNotesProof|QualifyingProductionNotesColorFigures)*>
<!--doc: -->
<!ELEMENT QualifyingProductionNotesAds  (#PCDATA)>
<!--doc: -->
<!ELEMENT QualifyingProductionNotesCdDvdEsm  (#PCDATA)>
<!--doc: -->
<!ELEMENT QualifyingProductionNotesColorFigures  (#PCDATA)>
<!--doc: -->
<!ELEMENT QualifyingProductionNotesComplimentaryCopies  (#PCDATA)>
<!--doc: -->
<!ELEMENT QualifyingProductionNotesCopyEditing  (#PCDATA)>
<!--doc: -->
<!ELEMENT QualifyingProductionNotesFrontmatter  (#PCDATA)>
<!--doc: -->
<!ELEMENT QualifyingProductionNotesIndex  (#PCDATA)>
<!--doc: -->
<!ELEMENT QualifyingProductionNotesLayout  (#PCDATA)>
<!--doc: -->
<!ELEMENT QualifyingProductionNotesManuscriptMaterial  (#PCDATA)>
<!--doc: -->
<!ELEMENT QualifyingProductionNotesMiscellaneous  (#PCDATA)>
<!--doc: -->
<!ELEMENT QualifyingProductionNotesProductionClassification  (#PCDATA)>
<!--doc: -->
<!ELEMENT QualifyingProductionNotesProof  (#PCDATA)>
<!--doc: -->
<!ELEMENT QualifyingProductionNotesSpringerDotCom  (#PCDATA)>
<!--doc: -->
<!ELEMENT Reason  (#PCDATA)>
<!--doc: -->
<!ELEMENT RefSource %macro.SimpleTextModel;>
<!--doc: -->
<!ELEMENT RefTarget  (#PCDATA)>
<!ATTLIST RefTarget
TargetType CDATA #IMPLIED
Address CDATA #IMPLIED
TargetRefID CDATA #IMPLIED >
<!--doc: -->
<!ELEMENT RegistrationDate (%model.DatePart;)+>
<!--doc: -->
<!ELEMENT RelatedObjectDOI  (#PCDATA)>
<!--doc: -->
<!ELEMENT RemarkByEditor  (#PCDATA)>
<!--doc: -->
<!ELEMENT RemarkTo  (#PCDATA)>
<!--doc: -->
<!ELEMENT RenditionItem EMPTY>
<!ATTLIST RenditionItem
 %att.FileChildrenQualifiers.attributes;
colorProfile CDATA #IMPLIED
grayscaleProfile CDATA #IMPLIED >
<!--doc: -->
<!ELEMENT RunningAuthor  (#PCDATA)>
<!--doc: -->
<!ELEMENT RunningTitle %macro.SimpleTextModel;>
<!--doc: -->
<!ELEMENT S200TypesetterDeadline (%model.DatePart;)+>
<!--doc: -->
<!ELEMENT S300TypesetterDeadline (%model.DatePart;)+>
<!--doc: -->
<!ELEMENT S50TypesetterDeadline (%model.DatePart;)+>
<!--doc: -->
<!ELEMENT S600TypesetterDeadline (%model.DatePart;)+>
<!--doc: -->
<!ELEMENT S650TypesetterDeadline (%model.DatePart;)+>
<!--doc: -->
<!ELEMENT S700ElectronicDistributionDeadline (%model.DatePart;)+>
<!--doc: -->
<!ELEMENT S700PrinterDeadline (%model.DatePart;)+>
<!--doc: -->
<!ELEMENT S800PrintDistributionDeadline (%model.DatePart;)+>
<!--doc: -->
<!ELEMENT S900ElectronicDistributionDeadline (%model.DatePart;)+>
<!--doc:provides a SIG number -->
<!ELEMENT SIG  (#PCDATA)>
<!--doc: -->
<!ELEMENT SPACEInfo EMPTY>
<!ATTLIST SPACEInfo
PublicationObjectID CDATA #IMPLIED
SupplierSPACEID CDATA #IMPLIED >
<!--doc: -->
<!ELEMENT SecondaryIE %macro.SimpleTextModel;>
<!--doc: -->
<!ELEMENT Section1 (Heading,(AuthorGroup)?,(%model.fullTextBlock;)*,(Section2)*)>
<!ATTLIST Section1
 %att.ID.attributes;
 %att.Typed.attributes; >
<!--doc: -->
<!ELEMENT Section2 (Heading,(AuthorGroup)?,(%model.fullTextBlock;)*,(Section3)*)>
<!ATTLIST Section2
 %att.ID.attributes;
 %att.Typed.attributes; >
<!--doc: -->
<!ELEMENT Section3 (Heading,(AuthorGroup)?,(%model.fullTextBlock;)*,(Section4)*)>
<!ATTLIST Section3
 %att.ID.attributes;
 %att.Typed.attributes; >
<!--doc: -->
<!ELEMENT Section4 (Heading,(AuthorGroup)?,(%model.fullTextBlock;)*)>
<!ATTLIST Section4
 %att.ID.attributes;
 %att.Typed.attributes; >
<!--doc: -->
<!ELEMENT SeeAlsoIE %macro.SimpleTextModel;>
<!--doc: -->
<!ELEMENT SeeIE %macro.SimpleTextModel;>
<!--doc:groups together all the Springer metadata associated to a book related publication (book or book chapter) -->
<!ELEMENT Series (SeriesInfo,(SeriesHeader?,(Book|SubSeries)*))>
<!--doc: -->
<!ELEMENT SeriesAbbreviatedTitle  (#PCDATA)>
<!ATTLIST SeriesAbbreviatedTitle
 %att.language.attributes; >
<!--doc: -->
<!ELEMENT SeriesElectronicISSN  (#PCDATA)>
<!--doc: -->
<!ELEMENT SeriesHeader ((AuthorGroup)?,(EditorGroup)?,(CollaboratorGroup)?,(SeriesInformationText)?,(Abstract)?,(KeywordGroup)*)>
<!ATTLIST SeriesHeader
 %att.OutputMedium.attributes; >
<!--doc: -->
<!ELEMENT SeriesID  (#PCDATA)>
<!--doc: -->
<!ELEMENT SeriesIndex (Heading,SubHeading?)>
<!--doc: -->
<!ELEMENT SeriesInfo (SeriesID|SeriesPrintISSN|SeriesElectronicISSN|SeriesTitle|SeriesAbbreviatedTitle)+>
<!ATTLIST SeriesInfo
 %att.ID.attributes;
TocLevels CDATA #IMPLIED
SeriesType CDATA #IMPLIED >
<!--doc: -->
<!ELEMENT SeriesInformationText (Para)*>
<!--doc: -->
<!ELEMENT SeriesPrintISSN  (#PCDATA)>
<!--doc: -->
<!ELEMENT SeriesTitle  (#PCDATA)>
<!ATTLIST SeriesTitle
 %att.language.attributes; >
<!--doc: -->
<!ELEMENT Share EMPTY>
<!ATTLIST Share
 %att.Typed.attributes;
Quantity CDATA #IMPLIED >
<!--doc: -->
<!ELEMENT Shares (Share)+>
<!ATTLIST Shares
CompoundObjectID CDATA #IMPLIED >
<!--doc: -->
<!ELEMENT Sidebar (Para)*>
<!ATTLIST Sidebar
 %att.ID.attributes;
 %att.Typed.attributes; >
<!--doc: -->
<!ELEMENT SimplePara (#PCDATA|%model.simpleText;|Figure|Table|%model.referenceElements;)*>
<!ATTLIST SimplePara
 %att.Typed.attributes;
 %att.OutputMedium.attributes; >
<!--doc: -->
<!ELEMENT SpineWidth  (#PCDATA)>
<!--doc: -->
<!ELEMENT SpringerLocationsLine  (#PCDATA)>
<!--doc: -->
<!ELEMENT SpringerReferenceLine (#PCDATA|SimplePara)*>
<!ATTLIST SpringerReferenceLine
 %att.language.attributes;
Country CDATA #IMPLIED >
<!--doc: -->
<!ELEMENT Stack (#PCDATA|Subscript|Superscript)*>
<!--doc: -->
<!ELEMENT State  (#PCDATA)>
<!--doc: -->
<!ELEMENT Street  (#PCDATA)>
<!--doc: -->
<!ELEMENT StructuredAbstract EMPTY>
<!ATTLIST StructuredAbstract
Type CDATA  #IMPLIED >
<!--doc: -->
<!ELEMENT SubHeading (#PCDATA|%model.simpleText;|%model.referenceElements;)*>
<!--doc: -->
<!ELEMENT SubPart (SubPartInfo,(SubPartHeader)?,(BookFrontmatter)?,(Chapter)+,(BookBackmatter)?)>
<!ATTLIST SubPart
 %att.ID.attributes; >
<!--doc: -->
<!ELEMENT SubPartChapterCount  (#PCDATA)>
<!--doc: -->
<!ELEMENT SubPartHeader ((AuthorGroup)?,(EditorGroup)?,(CollaboratorGroup)?,(Abstract)?,(KeywordGroup)*,(ArticleNote)*)>
<!--doc: -->
<!ELEMENT SubPartID  (#PCDATA)>
<!--doc: -->
<!ELEMENT SubPartInfo (SubPartID,(SubPartNumber)?,(SubPartSequenceNumber)?,SubPartTitle,(SubPartSubTitle)?,(SubPartChapterCount)?)>
<!ATTLIST SubPartInfo
 %att.OutputMedium.attributes;
TocLevels CDATA #IMPLIED >
<!--doc: -->
<!ELEMENT SubPartNumber  (#PCDATA)>
<!--doc: -->
<!ELEMENT SubPartSequenceNumber  (#PCDATA)>
<!--doc: -->
<!ELEMENT SubPartSubTitle %macro.SimpleTextModel;>
<!--doc: -->
<!ELEMENT SubPartTitle %macro.SimpleTextModel;>
<!--doc: -->
<!ELEMENT SubSeries (SubSeriesInfo,(BookOnlineFirst)?,(SubSeriesHeader)?,(Toc)?,(Book)*)>
<!--doc: -->
<!ELEMENT SubSeriesAbbreviatedTitle  (#PCDATA)>
<!ATTLIST SubSeriesAbbreviatedTitle
 %att.language.attributes; >
<!--doc: -->
<!ELEMENT SubSeriesElectronicISSN  (#PCDATA)>
<!--doc: -->
<!ELEMENT SubSeriesHeader ((AuthorGroup)?,(EditorGroup)?,(CollaboratorGroup)?)>
<!ATTLIST SubSeriesHeader
 %att.OutputMedium.attributes; >
<!--doc: -->
<!ELEMENT SubSeriesID  (#PCDATA)>
<!--doc: -->
<!ELEMENT SubSeriesIndex (Heading,SubHeading?)>
<!--doc: -->
<!ELEMENT SubSeriesInfo (SubSeriesID,(SubSeriesPrintISSN)?,(SubSeriesElectronicISSN)?,SubSeriesTitle,(SubSeriesSubTitle)?,(SubSeriesAbbreviatedTitle)?)>
<!ATTLIST SubSeriesInfo
 %att.OutputMedium.attributes;
SeriesType (Series|Subseries|VirtualSeries|VolumePackage|Hierarchy) #IMPLIED >
<!--doc: -->
<!ELEMENT SubSeriesPrintISSN  (#PCDATA)>
<!--doc: -->
<!ELEMENT SubSeriesSubTitle  (#PCDATA)>
<!ATTLIST SubSeriesSubTitle
 %att.language.attributes; >
<!--doc: -->
<!ELEMENT SubSeriesTitle  (#PCDATA)>
<!ATTLIST SubSeriesTitle
 %att.language.attributes; >
<!--doc: -->
<!ELEMENT SubjectCollection  (#PCDATA)>
<!ATTLIST SubjectCollection
Code CDATA #IMPLIED >
<!--doc: -->
<!ELEMENT Subscript (#PCDATA|Emphasis)*>
<!--doc: -->
<!ELEMENT Suffix  (#PCDATA)>
<!--doc: -->
<!ELEMENT Superscript (#PCDATA|Emphasis)*>
<!--doc: -->
<!ELEMENT Supplier (FullServiceVendor)*>
<!--doc:provides a technical committee number -->
<!ELEMENT TC  (#PCDATA)>
<!--doc: -->
<!ELEMENT Table (Caption|tgroup|tfooter|MediaObject)+>
<!ATTLIST Table
 %att.ID.attributes;
Float CDATA #IMPLIED >
<!--doc: -->
<!ELEMENT TechnicalInfo (TitleAdditionalLanguage|TitleUpperCase|AuthorInformationStyle|HistoryStyle|AbstractInDocumentLanguage|AbstractAdditionalLanguage|StructuredAbstract|KeywordsInDocumentLanguage|BibliographyStyle|CitationStyle|BodyMarkup|Typesetting|CompoundObjectTechnicalInfo|TextSpecifications|ColorSpecifications|CoverProductionInfo|Binding)*>
<!--doc: -->
<!ELEMENT Term %macro.SimpleTextModel;>
<!--doc: -->
<!ELEMENT TertiaryIE %macro.SimpleTextModel;>
<!--doc: -->
<!ELEMENT TextObject (Para)*>
<!ATTLIST TextObject
FileRef CDATA #IMPLIED >
<!--doc: -->
<!ELEMENT TextSpecifications EMPTY>
<!ATTLIST TextSpecifications
GutterMargin CDATA #IMPLIED
HeadMargin CDATA #IMPLIED
Bleeds CDATA #IMPLIED
TypeareaHeight CDATA #IMPLIED
TypeareaWidth CDATA #IMPLIED
PaperStock CDATA #IMPLIED >
<!--doc: -->
<!ELEMENT TitleAdditionalLanguage  (#PCDATA)>
<!--doc: -->
<!ELEMENT TitleUpperCase EMPTY>
<!ATTLIST TitleUpperCase
Letters CDATA  #IMPLIED >
<!--doc: -->
<!ELEMENT Toc (Heading,(SubHeading)?,(TocFront)*,(TocPart|TocChapter)*,(TocBack)*)>
<!--doc: -->
<!ELEMENT TocAppendix ((Heading)?,(SubHeading)?,(TocEntry,(Author|InstitutionalAuthor)*)?,(TocSection1)*)>
<!--doc: -->
<!ELEMENT TocBack %macro.SimpleTextModel;>
<!ATTLIST TocBack
PageNumber CDATA #IMPLIED >
<!--doc: -->
<!ELEMENT TocChapter ((Heading)?,(SubHeading)?,(TocEntry,Author*)?)>
<!--doc: -->
<!ELEMENT TocEntry (#PCDATA|%model.simpleText;|ExternalRef)*>
<!ATTLIST TocEntry
PageNumber CDATA #IMPLIED
TargetID CDATA #IMPLIED >
<!--doc: -->
<!ELEMENT TocFront %macro.SimpleTextModel;>
<!ATTLIST TocFront
PageNumber CDATA #IMPLIED >
<!--doc: -->
<!ELEMENT TocPart (TocEntry,(Author)*,(TocChapter)*)>
<!--doc: -->
<!ELEMENT TocSection1 (TocEntry,TocSection2*)>
<!--doc: -->
<!ELEMENT TocSection2 (TocEntry,TocSection3*)>
<!--doc: -->
<!ELEMENT TocSection3 (TocEntry,TocSection4*)>
<!--doc: -->
<!ELEMENT TocSection4 (TocEntry,TocSection5*)>
<!--doc: -->
<!ELEMENT TocSection5 (TocEntry,TocSection6*)>
<!--doc: -->
<!ELEMENT TocSection6 (TocEntry,TocSection7*)>
<!--doc: -->
<!ELEMENT TocSection7 (TocEntry)>
<!--doc: -->
<!ELEMENT TrademarkQualifierText  (#PCDATA)>
<!ATTLIST TrademarkQualifierText
 %att.language.attributes;
Country CDATA #IMPLIED >
<!--doc: -->
<!ELEMENT Typesetting EMPTY>
<!ATTLIST Typesetting
Layout CDATA #IMPLIED
StartPage CDATA #IMPLIED
RunningHead CDATA #IMPLIED
LogoOnFirstPage CDATA #IMPLIED
EndsheetsContent CDATA #IMPLIED
StandardFrontmatter CDATA #IMPLIED
Profile CDATA #IMPLIED >
<!--doc: -->
<!ELEMENT URL  (#PCDATA)>
<!--doc: -->
<!ELEMENT UnorderedList ((Heading)?,(ItemContent)+)>
<!ATTLIST UnorderedList
Mark CDATA  #REQUIRED >
<!--doc: -->
<!ELEMENT VideoObject (Caption)*>
<!ATTLIST VideoObject
FileRef CDATA #IMPLIED
VideoID CDATA #IMPLIED >
<!--doc: -->
<!ELEMENT VolumeID  (#PCDATA)>
<!--doc: -->
<!ELEMENT VolumePackageID  (#PCDATA)>
<!--doc:provides a working group number -->
<!ELEMENT WG  (#PCDATA)>
<!--doc: -->
<!ELEMENT WorkItem EMPTY>
<!ATTLIST WorkItem
 %att.FileChildrenQualifiers.attributes; >
<!--doc: -->
<!ELEMENT WorkflowInfo (Priority|Deadline|Supplier)*>
<!ATTLIST WorkflowInfo
TaskType CDATA #IMPLIED >
<!--doc: -->
<!ELEMENT Year  (#PCDATA)>
<!--doc: -->
<!ELEMENT colspec EMPTY>
<!ATTLIST colspec
 %att.TableQualifiers.attributes;
char CDATA #IMPLIED >
<!--doc: -->
<!ELEMENT entry (#PCDATA|SimplePara)*>
<!ATTLIST entry
 %att.TableQualifiers.attributes;
namest CDATA #IMPLIED
nameend CDATA #IMPLIED
morerows CDATA #IMPLIED
char CDATA #IMPLIED >
<!--doc: -->
<!ELEMENT malignmark EMPTY>
<!--doc: -->
<!ELEMENT math %macro.MathExpression;>
<!ATTLIST math
display CDATA #IMPLIED >
<!--doc: -->
<!ELEMENT menclose %macro.MathExpression;>
<!ATTLIST menclose
notation CDATA #IMPLIED >
<!--doc: -->
<!ELEMENT mfenced %macro.MathExpression;>
<!ATTLIST mfenced
open CDATA #IMPLIED
close CDATA #IMPLIED
separators CDATA #IMPLIED >
<!--doc: -->
<!ELEMENT mfrac %macro.MathExpression;>
<!--doc: -->
<!ELEMENT mglyph EMPTY>
<!--doc: -->
<!ELEMENT mi %macro.token.content;>
<!ATTLIST mi
mathvariant CDATA #IMPLIED >
<!--doc: -->
<!ELEMENT mlabeledtr %macro.MathExpression;>
<!--doc: -->
<!ELEMENT mn %macro.token.content;>
<!ATTLIST mn
mathvariant CDATA #IMPLIED >
<!--doc: -->
<!ELEMENT mo %macro.token.content;>
<!ATTLIST mo
mathvariant CDATA #IMPLIED
form CDATA  #IMPLIED
fence CDATA  #IMPLIED
separator CDATA  #IMPLIED
lspace CDATA #IMPLIED
rspace CDATA #IMPLIED
stretchy CDATA  #IMPLIED
symmetric CDATA  #IMPLIED
maxsize CDATA #IMPLIED
minsize CDATA #IMPLIED
largeop CDATA  #IMPLIED
movablelimits CDATA  #IMPLIED
accent CDATA  #IMPLIED
linebreak CDATA  #IMPLIED
lineleading CDATA #IMPLIED
linebreakstyle CDATA  #IMPLIED
linebreakmultchar CDATA #IMPLIED
indentalign CDATA  #IMPLIED
indentshift CDATA #IMPLIED
indenttarget CDATA #IMPLIED
indentalignfirst CDATA  #IMPLIED
indentshiftfirst CDATA #IMPLIED
indentalignlast CDATA  #IMPLIED
indentshiftlast CDATA #IMPLIED >
<!--doc: -->
<!ELEMENT mover %macro.MathExpression;>
<!ATTLIST mover
accent CDATA  #IMPLIED
align CDATA  #IMPLIED >
<!--doc: -->
<!ELEMENT mpadded %macro.MathExpression;>
<!ATTLIST mpadded
height CDATA #IMPLIED
depth CDATA #IMPLIED
width CDATA #IMPLIED
lspace CDATA #IMPLIED
voffset CDATA #IMPLIED >
<!--doc: -->
<!ELEMENT mroot %macro.MathExpression;>
<!--doc: -->
<!ELEMENT mrow %macro.MathExpression;>
<!--doc: -->
<!ELEMENT mspace EMPTY>
<!ATTLIST mspace
width CDATA #IMPLIED
height CDATA #IMPLIED
depth CDATA #IMPLIED
linebreak CDATA  #IMPLIED >
<!--doc: -->
<!ELEMENT msqrt %macro.MathExpression;>
<!--doc: -->
<!ELEMENT mstyle %macro.MathExpression;>
<!ATTLIST mstyle
scriptlevel CDATA #IMPLIED
displaystyle CDATA  #IMPLIED
scriptsizemultiplier CDATA #IMPLIED
scriptminsize CDATA #IMPLIED
infixlinebreakstyle CDATA  #IMPLIED
decimalpoint CDATA #IMPLIED
mathsize CDATA #IMPLIED >
<!--doc: -->
<!ELEMENT msub %macro.MathExpression;>
<!--doc: -->
<!ELEMENT msubsup %macro.MathExpression;>
<!--doc: -->
<!ELEMENT msup %macro.MathExpression;>
<!--doc: -->
<!ELEMENT mtable (mtr|mlabeledtr)*>
<!ATTLIST mtable
columnspacing CDATA #IMPLIED >
<!--doc: -->
<!ELEMENT mtd %macro.MathExpression;>
<!ATTLIST mtd
columnalign CDATA #IMPLIED >
<!--doc: -->
<!ELEMENT mtext %macro.token.content;>
<!ATTLIST mtext
mathvariant CDATA #IMPLIED >
<!--doc: -->
<!ELEMENT mtr (mtd)*>
<!--doc: -->
<!ELEMENT munder %macro.MathExpression;>
<!ATTLIST munder
accentunder CDATA  #IMPLIED
align CDATA  #IMPLIED >
<!--doc: -->
<!ELEMENT munderover %macro.MathExpression;>
<!ATTLIST munderover
accent CDATA  #IMPLIED
accentunder CDATA  #IMPLIED
align CDATA  #IMPLIED >
<!--doc: -->
<!ELEMENT row (entry)+>
<!--doc: -->
<!ELEMENT tbody (row)*>
<!--doc: -->
<!ELEMENT tfooter (row|SimplePara)*>
<!--doc: -->
<!ELEMENT tgroup %macro.tbl.tgroup.mdl;>
<!ATTLIST tgroup
cols CDATA #IMPLIED
colsep CDATA #IMPLIED
rowsep CDATA #IMPLIED
align CDATA  #IMPLIED >
<!--doc: -->
<!ELEMENT thead (row)*>
<!-- end elements -->
